@CHARSET "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none;margin:0;outline:0 none;padding:0;}
article,aside,div,dt,figcaption,footer,form,header,hgroup,html,map,nav,section{display:block;}
ul,ul li{list-style:none;}
img{border:0;}
table{border-spacing:0;}
a{text-decoration:none;color:#000;transition:all 0.2s linear 0s;}
a:hover{color:#e00404;text-decoration:none;}
*:focus{outline:none;}

.cb{clear:both;}
.cf,.box-title{zoom:1;clear:left;} 
.cf:before,.cf:after,.box-title:before,.box-title:after{content:"";display:table;}
.cf:after,.box-title:after{clear: both;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}

body{font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;background-color:#fafafa;color:#444;font-size:12px;overflow-y:scroll;}
.g-con{background-color:#fff;padding:11px 0 30px;}
.w1000{width:1000px;margin:0 auto;}

.box-title{border-bottom:2px solid #013b85;padding-bottom:5px;position:relative;}
.box-title:before{content:"";height:2px;background-color:#960000;width:88px;position:absolute;bottom:-2px;left:0;}
.box-title h3{border-left:5px solid #960000;font-size:16px;color:#303030;padding-left:11px;float:left;}
.box-title em{color:#bdbdbd;font-size:16px;padding-left:11px;font-style:normal;}
.box-title .more-link{padding:3px 11px;float:right;background-color:#dedede;color:#6e6e6e;border-radius:3px;}
.box-title .more-link:hover{background-color:#d2d2d2;}
.box-content{padding:7px 0;}
#widget-news .box-content{padding:0;}

.box-post-list li a{color:#000;padding-left:16px;line-height:27px;display:block;background:url(images/triangle.png) no-repeat scroll 2px center transparent;}
.box-post-list li a:hover{color:#e00404;padding-left:19px;}
.box-post-list li a time{float:right;}
.box-post-list li a span{width:220px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;}

.box-top-news{padding-bottom:11px;border-bottom:1px dotted #d5d5d5;margin-bottom:11px;}
.box-top-news h4{text-align:center;margin:21px 0 15px;}
.box-top-news h4 a{color:#e26017;font-size:14px;}
.box-top-news p{text-indent:2em;color:#666;}
.box-top-news p a{color:#960000;padding-left:5px;}
.box-news-list li{margin-left:16px;list-style:square;}
.box-news-list li a{color:#000;line-height:27px;display:block;}
.box-news-list li a:hover{color:#e00404;padding-left:3px;}
.box-news-list li a time{float:right;}

.box-2{border:1px solid #bebebb;}
.box-2-title{background:url(images/box-2-title-bg.png) repeat-x scroll 0 1px transparent;}
.box-2-title h3{height:38px;line-height:38px;font-size:14px;color:#a70000;padding-left:32px;border-bottom:1px solid #8b8b8e;background:url(images/red-square.jpg) no-repeat scroll 10px center transparent;}
.box-2-title h3 a{color:#a70000;}
.box-2-content{padding:10px 0 10px 30px;background:url(images/box-2-content-bg.jpg) no-repeat scroll right bottom transparent;}
.box-2-content ul li{list-style:square;}
.box-2-content ul li a{display:block;line-height:24px;color:#212121;font-family:"宋体"}
.box-2-content ul li a span{width:220px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.box-3{background-color:#b40009;}
.box-3-title{background:url(images/box-3-title-bg.jpg) no-repeat scroll 0 0 transparent;}
.box-3-title h3{height:30px;line-height:30px;font-size:14px;font-style:italic;color:#fff;text-align:right;padding-right:11px;}
.box-3-title h3 a{color:#fff;}
.box-3-content ul li{padding-left:32px;background:url(images/white-triangle.png) no-repeat scroll 13px center transparent;}
.box-3-content ul li a{display:block;line-height:24px;color:#212121;background-color:#ebeef3;padding-left:13px;line-height:31px;}
.box-3-content ul li a span{width:220px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.g-hd{background:url(images/banner.jpg) no-repeat scroll center top #FEA056;height:260px;position:relative;}
.g-hd .w1000{position:relative;}
.g-hd .g-nav{height:46px;background:url(images/nav-bg.png) repeat-x scroll center top transparent;position:absolute;bottom:0;width:100%;}
.g-hd .g-nav ul li{display:block;float:left;background:url(images/nav-sep.png) no-repeat scroll left center transparent;}
.g-hd .g-nav ul li a{display:block;line-height:46px;color:#fff;padding:0 39px;font-size:16px;}
.g-hd .g-nav ul li:first-child{background:none;}

.g-hd .hd-search-bar{position:absolute;top:8px;left:680px;color:#fff;}
.g-hd .hd-search-bar .sep{padding:10px;}
.g-hd .hd-search-bar input{width:100px;height:15px;}
.g-mn{margin-top:27px;}

.inner{background-color:#fff;}
.inner .g-mn{float:right;width:717px;border:1px solid #e5e5e5;padding:0 25px 25px;margin-top:0}
.inner .g-sd{float:left;width:218px;background-color:#f8f8f8;}

#index-main-left{width:700px;float:left;}
#index-main-right{width:291px;float:right;}
#index-main-right .widget{margin-bottom:14px;}
#index-main-left .widget-category-posts{margin-left:17px;width:346px;float:left;margin-bottom:18px;height:191px;}
#index-main-left .area-index-1,#index-main-left .area-index-3{margin-left:2px;width:334px;}
#index-main-left #widget-consolidation{margin-left:2px;width:698px;}
#index-main-left #widget-consolidation li{width:290px;margin-right:59px;float:left;display:block;}

.g-ft{background-color:#e1e1e1;border-top:3px solid #960000;padding:23px 0;text-align:center;}
.g-ft p{margin:9px 0;text-align:center;}
.g-ft .ft-oganizer{margin-left:25px;}
.g-ft .ft-postcode{margin-left:25px;}

#slide{width:333px;height:278px;position:relative;overflow:hidden;background:#fff;float:left;}
#slide .nivo-controlNav{position:absolute;bottom:3px;right:10px;z-index:10;padding:0;}
#slide .nivo-controlNav a{display:inline-block;margin:0 4px;width:12px;height:12px;line-height:14px;border-radius:50%;background:#bebebe;overflow:hidden;text-indent:-99999px;}
#slide .nivo-controlNav a.active{background:#ff9c00;}
#slide .nivo-caption{opacity:0.6}

#index-section-1 #widget-news{float:left;margin-left:18px;width:348px;}
#index-section-1 #widget-noticeboard{float:left;margin-left:13px;width:270px;border-left:1px solid #e5e5e5;padding-left:14px;}
#index-section-1 #widget-noticeboard .box-post-list li a span{width:170px;}

#index-section-2{background-color:#ededed;padding:13px 10px 13px 7px;margin-top:10px;}
#index-section-2 #quick-link .ql-title{float:left;}
#index-section-2 #quick-link ul li{float:left;padding-left:16px;background:url(images/quick-link-sep.png) no-repeat scroll 7px 1px transparent;}

#index-friendlinks{margin-top:30px;}
#index-friendlinks ul{margin-left:-9px;}
#index-friendlinks ul li{float:left;padding:7px 0 7px 9px;}

#widget-sidebar-ad a img{width:291px;height:71px;margin-bottom:6px;display:block;}

.breadcrumbs{height:35px;line-height:35px;background-color:#eaeaea;margin-bottom:10px;padding:0 10px;}

.cat-list h3{background-color:#be000c;height:40px;line-height:40px;text-align:center;color:#fff;}
.cat-list ul{border:1px solid #e5e5e5;padding:0 19px 15px 19px;}
.cat-list ul li a{height:40px;line-height:40px;text-align:center;display:block;font-size:15px;}
.cat-list ul li a.crt{border-bottom:1px solid #be000c;}

.sub-title{font-size:15px;height:40px;line-height:40px;border-bottom:1px solid #be000c;}

.inner-post-list{padding:4px 0;}
.inner-post-list time{float:right;}
.inner-post-list li{height:28px;line-height:28px;font-size:14px;background:url(images/triangle.png) no-repeat scroll 2px center transparent;padding-left:13px;}
.inner-post-list li a{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.inner-post-list li a:hover{padding-left:3px;}
.inner-post-list .separator{border-bottom:1px dashed #e5e5e5;height:6px;margin-bottom:6px;background:none;}

.pagination{text-align:center;height:34px;line-height:34px;background-color:#ffffff;margin-top:40px;margin-bottom:20px;}
.pagination .page-numbers{display:inline-block;padding:0 12px;margin-left:3px;border:1px solid #e5e5e5;}
.pagination a.page-numbers:hover,.pagination .page-numbers.crt{background-color:#bd000b;color:#ffffff;}
.pagination .page-numbers.dots{font-family:Lato,sans-serif;border-color:#fff;}
.pagination .prev,.pagination .next{}
.pagination .summary{margin-right:10px;}

.post-title{font-size:17px;text-align:center;margin-top:26px;}
.post-meta{text-align:center;margin:10px 0;}
.post-meta span{margin-right:10px;}
.post-content{font-size:14px;line-height:25px;}