body{background:#fff;color:#666666; background: url("../images/body_bg.jpg") repeat-x;}
a{color:#000000;text-decoration:none;font-family: "微软雅黑"; border:none;}
a:link{text-decoration:none;border:none;}
a:hover{  text-decoration:none;border:none; color: #197abf;}
a:active{border:none;}
a{background: none;}
a:hover, a:visited{ background: none;}
#header{ height:100px; width:100%; }
.header{ height:100px;width:1100px;margin: 0 auto; position:relative; }
.hesder-top{width:325px; height: 27px; position:absolute;top: 0;right: 0;color: #7d7d7d;line-height:27px;border-radius:0 0 10px 10px}
.hesder-top a{color: #7d7d7d;padding:0 10px}
.hesder-top span{text-align: center;width:17px;padding: 0 5px}
.hesder-top span img{text-align: center;vertical-align: middle;}

.navBar{margin:0 auto;height:40px;line-height:40px;background:#08A5E0;color:#333;}
.nav{position:relative;width:980px;margin:0 auto;font-family:"Microsoft YaHei",SimSun,SimHei;font-size:14px;}
.nav a{color:#fff;}
.nav h3{font-size:100%;font-weight:normal;}
.nav .m{float:left;position:relative;z-index:1;}
.nav .m:hover { background: #0baeeb; }
.nav .s{float:left;width:3px;text-align:center;color:#fff;font-size:12px;}
.nav h3 a{display:block;width:115px;text-align:center;font-weight:bold;}
.nav .sub{display:none;position:absolute;left:-3px;top:40px;z-index:1;width:117px;border:1px solid #E6E4E3;border-top:0;background:#fff;}
.nav .sub li{ text-align:center; display: table; table-layout: fixed; width: 100%; }
.nav .sub li a{display:table-cell; vertical-align: middle; border-bottom:1px solid #E6E4E3;padding:8px 0;height:28px;line-height:28px;color:#000;font-size:12px;font-weight:bold;}
.nav .sub li a:hover{color:#FE7700;}
.nav .block{height:3px;width:120px;background:#fff;position:absolute;left:0;top:42px;overflow:hidden;}

.Logo{position:absolute;vertical-align:middle;top:10px;left: 0px}
.Logo-img{float:left;vertical-align:middle;padding-right:10px;padding-top:5px}
.Logo-min{float:left; padding-left:10px; padding-top: 30px; }
.Logo-mintit{font-size:22px}

.container { background: #fff; width: 1200px; margin: 0 auto; height: 100%; padding-top: 20px; }

.indexbanner{ width:100%;margin: 0 auto; height:250px; overflow:hidden; position:relative;text-align: center  }
.indexbanner .hd{ height:15px; overflow:hidden; position:absolute; right:50%; bottom:10px; z-index:1;margin-right:-70px }
.indexbanner .hd ul{ overflow:hidden; zoom:1; float:left;  }
.indexbanner .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:url("../images/banner1_13.png") no-repeat; cursor:pointer; }
.indexbanner .hd ul li.on{ background:url("../images/banner2_11.png") no-repeat; color:#fff; }
.indexbanner .bd{ height:100%; z-index:0;position:relative;text-align: center;margin: 0 auto   }
.indexbanner .bd li{ zoom:1; vertical-align:middle; }
.indexbanner .bd img{ width:1920px; height:250px; display:block;position:absolute;left:0;width:100%;min-width:1400px; }


.indexbanner .prev,
.indexbanner .next{ position:absolute; left:50%; top:50%; margin-top:-25px; display:block; width:32px;}
.indexbanner .next{ left:auto; right:3%; background-position:8px 5px; }
.indexbanner .prev:hover,
.indexbanner .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.indexbanner .prevStop{ display:none;  }
.indexbanner .nextStop{ display:none;  }

.index-min{width:1100px;margin:0 auto 10px; height:248px;overflow:hidden;zoom:1;position: relative;font-family: "宋体";}
.index-mingsjj{position: absolute;left:0;top:0; width:350px; text-align:left}
.index-mingsjjtit{ height: 25px;font-size:16px;color:#197abf;border-bottom: 2px solid #197abf;line-height: 25px; }
.index-mingsjjtit h3 { float: left; width: 100px; font-size: 16px; font-weight: normal;  cursor: pointer; text-align: center; border: 1px solid transparent; }
.index-mingsjjtit .tab.active { border-radius: 4px; background: #197abf; color: #fff; }
.index-mingsjjtit h3:hover { color: #318BCC; }
.index-mingsjjtit span{position:absolute; right:0}

/*热门图片	*/
.hot_slider{ padding:0px; width:345px; border:1px solid #000000;}
.slider_wrap{position:relative;width:337px;height:200px;margin:4px;}
.mask{opacity:0.6;width:100%;height:55px;background-color:#000000;position:absolute;bottom:0;left:0;display:block;}
.comt{width:345px;color:#ffffff;position:absolute;left:0;bottom:0;height:55px;text-indent:10px;text-align:left;}
.comt h3{font-size:16px;margin-top:20px;}
.comt p{font-size:12px;line-height:20px;}
#slider_box{position:relative;width:337px;height:200px;overflow:hidden;float:left;}
#contentList li{float:left;position:relative;}
#contentList li img{width:337px;height:200px;}
#previewList{position:absolute;bottom:5px;right:5px;}
#previewList li{list-style:none;float:left;width:16px;height:14px;opacity:0.8;border:1px solid #D00000;background-color:#FFFFFF;color:#D00000;text-align:center;cursor:pointer;margin-right:2px;padding-top:0px;overflow:hidden;}
#previewList li:hover,#previewList li.active{border:1px solid #D00000;background-color:#FF0000;color:#FFFFFF;width:16px;height:14px;font-weight:bold;font-size:13px;}

#serve { height: 80px; width: 1100px; background: url("../images/box2_bg.jpg"); border: 1px solid #ccc; margin: 0 auto; padding: 0 20px; box-sizing: border-box; border-radius: 4px; }
#serve:after { content: ''; width: 1080px; height: 1px; margin-top: 58px; display: block; position: absolute; left: 50%; margin-left: -540px; z-index: -1; -webkit-box-shadow: 0px 0px 8px 2px #ccc; }
#serve .title { float: left; line-height: 80px; font-size: 20px; }
#serve .serve-list { float: left; margin-left: 20px; }
#serve .serve-list ul { padding: 10px 0; margin-left: 40px; }
#serve .serve-list ul li { display: inline-block; padding: 0 10px; text-align: center; font-size: 14px; width: 100px; }
#serve .serve-list ul li img { width: 43px; height: 35px; display: block; margin-left: 33px; margin-bottom: 5px; }
#serve .serve-list ul li img { display:block;transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease; }
#serve .serve-list ul li a:hover img { transform: scale(1.1,1.1);-ms-transform: scale(1.1,1.1);-webkit-transform: scale(1.1,1.1); }


#content-bottom { width: 1100px; margin: 0 auto; height: 260px; }
#content-bottom .left { width: 240px; float: left; border-radius: 4px; }
#content-bottom .left .guide .content-header { border-top-left-radius: 4px; border-top-right-radius: 4px; text-align: left;
    height: 25px; line-height: 25px; font-size: 16px; color: #197abf; border-bottom: 2px solid #197abf; background: #fff; }
#content-bottom .left .guide .content-box { height: 165px; padding: 20px 10px 10px; border-left: 1px solid #eee; border-right: 1px solid #eee; }
#content-bottom .left .guide .content-box ul { width: 100%; }
#content-bottom .left .guide .content-box ul:after { content: ''; display: table; clear: both; }
#content-bottom .left .guide .content-box ul li { float: left; height: 40px; line-height: 40px; width: 98px; padding-left: 10px; }
#content-bottom .left .guide .content-box ul li a { display: inline-block; height: 40px; line-height: 40px; position: relative; }
#content-bottom .left .guide .content-box ul li img { width: 20px; height: 20px; position: absolute; top: 50%; margin-top: -10px; left: -20px; }
#content-bottom .left .guide .content-box ul li img:after { content: ''; display: table; clear: both; }
#content-bottom .left .guide .content-box ul li a:hover { margin-left: 4px; }
#content-bottom .left .guide .content-bottom { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; height: 20px; font-size: 14px; color: #fff; background: #197abf;  line-height: 20px; }
#content-bottom .center { width: 500px; float: left; margin: 0 10px; }
#content-bottom .center .content-header { height: 25px; line-height: 25px; width: 380px; margin: 0 auto; text-align: left; color: #197abf; font-size: 16px; border-bottom: 2px solid #197abf; }
#content-bottom .center .content-box { height: 200px; }
#content-bottom .center .content-box .web { width: 377px; height: 59px; font-size: 16px; line-height: 59px; margin: 10px auto; background: url("../images/wb_bg.png"); }

#content-bottom .right { width: 335px; float: left; }
#content-bottom .right .hot-topic .content-header { height: 25px; border-bottom:2px solid #197abf; line-height: 25px; text-align: left; color: #197abf; font-size: 16px; }
#content-bottom .right .hot-topic .content-box {  }
#content-bottom .right .hot-topic .content-box a { width: 100%; height: 50px; display: block; overflow: hidden; }
#content-bottom .right .hot-topic .content-box img { width: 100%; height: 50px; display: block; margin-top: 5px; border-radius: 4px;
    transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease; }
#content-bottom .right .hot-topic .content-box a:hover img { transform: scale(1.04,1.04);-ms-transform: scale(1.04,1.04);-webkit-transform: scale(1.04,1.04); }

#gg { height:200px;overflow:hidden; width: 464px; }
.index-minhxyw{width: 350px; position: absolute;left:380px; text-align: left}
.index-minhxyw ul{width:464px;}
.index-minhxyw ul li{margin:12px 0; width:343px;overflow:hidden}
.index-minhxyw ul li span { float: right; }
.index-minhxyw ul li a:hover{color:#318BCC}
.index-minhxyw ul li i{background:url("../images/indexli_16.jpg") no-repeat; display: inline-block;height:7px;width:15px}
.index-minhxyw .index-minhxywminp{}
.index-minhxyw .index-minhxywmint{text-align:center;padding: 5px 0}
.index-minxwzx{width:345px;position: absolute;text-align: left;right: 0}
.index-minxwzxmin ul{}
.index-minxwzxmin ul li{margin:12px 0; width:343px;overflow:hidden}
.index-minxwzxmin ul li span { font-size: 12px; float: right; }
.index-minxwzxmin ul li a:hover{color:#318BCC}
.index-minxwzxmin ul li a { font-size: 12px; }
.index-minxwzxmin ul li i{background:url("../images/indexli_16.jpg") no-repeat; display: inline-block;height:7px;width:15px}
.index-bottom{height:126px ;background:#EEEEEE;width: 100%;font-family: "宋体";}
.index-bottommin{height:126px ;width:1100px;margin:0 auto}
.index-bottommyq{text-align:left;padding:15px 0;border-bottom:1px solid #D6D6D6}
.index-bottommyq a {padding:5px}
.index-bottommyq a:hover { text-decoration: underline; }
.index-bottomcopy{position: relative;text-align: left;margin-top:10px;line-height:30px}
.index-bottomcopyL{position: absolute;left:0px;}
.index-bottomclogo{float:left;padding-top:15px;padding-right:10px}
.index-bottomclogo img{vertical-align:middle}
.index-bottomctxt{float:left;background:url("../images/index_23.png") no-repeat;display: block;height:60px;padding-left:10px}
.index-bottomctxt span{font-weight:800}
.index-bottomcopyL2{position: absolute;left:480px;}
.index-bottomcopyL3{position: absolute;right:0px;}
.index-bottomcopyL3 a{margin-left: 20px}

.qcode { position: absolute; right: 0; top: -110px; background: url("../images/qrcode.jpg"); width: 100px; height: 100px;  background-size: cover; }