body{
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size:14px;
    background:#f1f1f1;
}
#header{
    background:#f1f1f1;
}

.section{
    width:1270px;
    margin:0 auto;
}

.header{
    width:1275px;
    margin:0 auto;
    border-bottom:1px solid #e7e7e7;
}

.header .nav,.header .nav li{
    float:left;
}
.header .nav li a{
    display:block;
    width:124px;
    height:80px;
    line-height:80px;
    text-align:center;
    color:#000;
    font-size:16px;
    border-right:1px solid #e7e7e7;
}

.header .nav li a:hover,.header .nav li.active a{
    color:#fff;
    background:#8e273c;
}

.news{
    width:100%;
    height:635px;
    background:url(../images/bg_01.png) no-repeat center center ;
}
.news-list {
    width:790px;
    padding-top:55px;
    margin-left:125px;
}

.news-list .title1{
    font-size: 36px;
    line-height:40px;
}
.news-list .title2{
    font-size: 48px;
    line-height:60px;
    font-family: Arial, Verdana, sans-serif;
}
.news-list .title2 img{
    margin-left:35px;
    position:relative;
    top:4px;
}

.line1{
    width:100%;
    height:4px;
    line-height:4px;
    font-size: 0;
    background:#8e273c;
}
.news-list ul li{
    padding:14px 0 2px 0;
    border-bottom:1px dashed #92b3ac;
}

.news-list ul li .time{
    width:101px;height:26px;
    line-height:26px;
    background:url(../images/bg_time.png) no-repeat center center;
    font-size: 12px;
    text-align:center;
    float:left;
}
.news-list ul li .post-title{
    color:#8e273c;
    height:26px;
    line-height:26px;
    margin-left:12px;
    float:left;
}

.three_cols{
    background:#7cb0be;
    height:512px;
    width:100%;

}

.three-col-list{
    width:1150px;
    height:287px;
    margin:0 auto;
    padding-top:105px;
}
.three-col-list .col{
    float:left;
    height:287px;
    width:368px;
    position:relative;
    color:#fff;
}

.three-col-list .col ul{
    margin-top:15px;
}
.three-col-list .col ul li{
    line-height:30px;
    padding-left:25px;
}
.three-col-list .col ul li a{
    color:#fff;
    width:100%;
    display:block;
}
.three-col-list .col ul li a p{
    float:left;
   width:230px;
}

.three-col-list .col ul li a span{
    float:right;
    margin-right:13px;
}
.three-col-list .col ul li a:hover{
    /*color:#8e273c;*/
}

.three-col-list .col .read-more{
    width:60px;
    height:20px;
    margin-left:145px;
    margin-top:50px;
}

.three-col-list .col1{
    background:#73c5bc url(../images/img1.png) no-repeat right bottom;
}
.three-col-list .col2{
    background:#83ceea url(../images/img2.png) no-repeat right bottom;
}
.three-col-list .col3{
    background:#e9a431 url(../images/img3.png) no-repeat right bottom;
}

.works{
    height:706px;
    width:100%;
    background:url(../images/bg02.png) no-repeat center center;
}

.works-list{
    width:790px;
    margin-left:265px;
    padding-top:125px;
}

.works-list .title1{
    font-size: 36px;
    line-height:40px;
}
.works-list .title2{
    font-size: 48px;
    line-height:60px;
    font-family: Arial, Verdana, sans-serif;
}
.works-list .title2 img{
    margin-left:35px;
    position:relative;
    top:4px;
}


.works-list ul li{
    padding:14px 0 2px 0;
    border-bottom:1px dashed #92b3ac;
}

.works-list ul li .time{
    width:101px;height:26px;
    line-height:26px;
    background:url(../images/bg_time.png) no-repeat center center;
    font-size: 12px;
    text-align:center;
    float:left;
}
.works-list ul li .post-title{
    color:#8e273c;
    height:26px;
    line-height:26px;
    margin-left:12px;
    float:left;
}


.research{
    width:100%;
    height:513px;
    background:url(../images/bg03.png) no-repeat center center;

}
.research-list {
    width:640px;
    height:335px;
    padding:0 10px;
    margin:0 auto;
    margin-top:100px;
    background:#fff;
    opacity: 0.7;
}

.research-list .title1{
    font-size: 36px;
    line-height:36px;
    padding:10px;
    float:left;
}
.research-list .title2{
    font-size: 36px;
    line-height:48px;
    float:left;
    color:#767676;
    font-family: Arial, Verdana, sans-serif;
    position: relative;top:10px;
}
.research-list img{
    /*margin-left:35px;*/
    position:relative;
    top:4px;
    float:right;
    display:inline-block;
}

.research-list ul li{
    padding:30px 0 2px 0;
    /*border-bottom:1px dashed #92b3ac;*/
}

.research-list ul li .time{
    height:26px;
    line-height:26px;
    /*background:url(../images/bg_time.png) no-repeat center center;*/
    font-size: 18px;
    text-align:center;
    float:right;
    color:#757575;
    margin-right:5px;
}
.research-list ul li .post-title{
    font-size: 18px;
    color:#757575;
    height:26px;
    line-height:26px;
    margin-left:12px;
    float:left;
}


.foot-prints{
    background:#f1f1f1;

}
.foot-prints-list{
   width:840px;
    margin:0 auto;
}

.foot-prints-list ul li{
    float:left;
    width:155px;
    margin-right:10px;
}
.foot-prints-list ul li .cont{
    width:155px;
    height:240px;
    background:#8e273c;
    color:#fff;
}

.foot-prints-list ul li .cont2{
    background:#9b9b9b;
}

.foot-prints-list ul li .date{
    width:120px;
    border-bottom:1px solid #fff;
    margin:0 auto;
    text-align:center;
    font-size:18px;
    padding:20px 0 10px 0;
}


.foot-prints-list ul li .text{
    width:120px;
    margin:0 auto;
    height:150px;
    font-size:18px;
    padding:20px 0 10px 0;
    word-break:break-all; white-space:normal; overflow:hidden;
}

.foot-prints-list .title{
    width:415px;
    margin:0 auto;
    color: #525252;
}

.foot-prints-list .title1{
    font-size: 36px;
    text-align:center;
    padding-top:30px;
}

.foot-prints-list .title2{
     width:415px;
     margin:0 auto;
     font-size: 18px;
     text-align: center;
     margin-bottom:5px;
 }

.foot-prints-list .title2 span{
    background: #f1f1f1;
    position:relative;
    top:-11px;
    padding:0 10px;

}

.foot-prints-list .title2  .line2{
    width:100%;
    height:3px;
    background:#797a7c;
    margin-top:20px;
    font-size:0;
}


.services{
    width:100%;
    background:#82b3bf;
}

.services-list{
    width:870px;
    margin:0 auto;
}

.services-list ul li {
    width:290px;
    float:left;
    padding-top:50px;
    color:#fff;
}

.services-list ul li .title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.services-list ul li img{
    margin:0 auto;
    text-align: center;display:block;
}
.services-list ul li a{
    color:#fff;
    display:block;
    padding:3px;
    padding-left:50px;
}
.services-list ul li a:hover{
    color:#fff;
}


.friend-links-list{
    width:1050px;
    height:460px;
    background:#FFFFFF;
    margin:0 auto;
}


.friend-links .title{
    width:415px;
    margin:0 auto;
    color: #525252;
}

.friend-links .title1{
    font-size: 36px;
    text-align:center;
    padding-top:30px;
}

.friend-links .title2{
    width:220px;
    margin:0 auto;
    font-size: 18px;
    text-align: center;
    margin-bottom:15px;
}

.friend-links .title2 span{
    background: #f1f1f1;
    position:relative;
    top:-11px;
    padding:0 10px;

}

.friend-links .title2  .line2{
    width:100%;
    height:3px;
    line-height:3px;
    font-size:0;
    background:#797a7c;
    margin-top:20px;
}

.friend-links-list{
    padding:40px 90px 0;
    width:870px;
    margin:0 auto;

}

.friend-links-list ul li{
    width:176px;
    height:125px;
    float:left;
    padding:30px 0 0 53px;
}

.friend-links-list ul li a p{
    padding-top:10px;
    text-align:center;
    color:#000;
}

.return-top {
    width:58px;
    height:96px;
    position: fixed;
    bottom:0;
    right:10px;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
html{
_text-overflow:ellipsis;
}


#footer {
    width:100%;
    height:195px;
    background:#000;
    color:#505050;
    text-align:center;
    padding-top:150px;
    font-size: 12px;
}

#footer a{
    color:#505050;
}

#footer span{
    padding:3px 10px;
}
#footer  .install{
    width:40px;
    height:20px;
    display:inline-block;
    background:url(../images/bg-install.png) no-repeat center center;
}

.lt8 .research-list ul li{
    padding-top:15px;
}