@charset "utf-8";
/* 公共样式 */
/* CSS Document Yahoo(YUI) CSS Reset*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {padding: 0; margin: 0; }
table {border-collapse: collapse; border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,th,var {font-weight: normal;font-style: normal;}
ol,ul {list-style: none;}
caption,th{text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym {border: 0;}
.wrap{width:1034px;margin:0 auto;}
/* 通用容器 */
.wrapper{
    clear: both;
    overflow: hidden;
    width:100%
}
/* CSS Document My CSS Reset*/

/*body {font-family:"微软雅黑",Helvetica,Arial,sans-serif;font-size:12px;line-height:20px;color:#535353;}*/
body {font-family:"微软雅黑",Helvetica,Arial,sans-serif;font-size:12px;line-height:20px;color:#000;background:#FFFFFF;}
h2 { font-size:24px;}
h3 { font-size:20px;}
h4 { font-size:16px;}
h6 { font-size:14px;}

/* 常用css定义*/

a {text-decoration:none; color:#3f3f3f;}
a:hover {text-decoration:none; color:#0088DE;}
.a_ {text-decoration:underline;}
a.a_ {text-decoration:underline;}
.a_hover {text-decoration:underline;}
.clear{clear:both; height:0px; width:100%; font-size:1px; line-height:0px; visibility:hidden; overflow:hidden;}
/*浮动*/
.fl{ float:left;}
.fr{ float:right;}

/*圆角兼容*/
.radius2{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.radius3{
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-radius: 3px;
 }
.radius5{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.radius10{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/*    定位关系     */
.overflow{ overflow:hidden;}
.absolute{position:absolute;}
.relative{position:relative;}
.m-c {margin:0 auto;}
/*  鼠标样式 */
.pointer{cursor:pointer;font-weight: bold;}
/* 取消边框 */
.NoBorder{border:0 none!important;}
/*  字体大小  */
.f10{font-size:10px !important;}
.f11{font-size:11px !important;}
.f12{font-size:12px !important;}
.f13{font-size:13px !important;}
.f14{font-size:14px !important;}
.f16{font-size:16px !important;}
.f18{font-size:18px !important;}
.f20{font-size:20px !important;}
.f22{font-size:22px !important;}
.f24{font-size:24px !important;}
.f26{font-size:26px !important;}
.f36{font-size:36px !important;}
/*  文本对齐方式  */
.t-l{text-align:left !important;}
.t-c{text-align:center !important;}
.t-r{text-align:right !important;}
/* 颜色*/
.cWhite{color: #FFF!important;}
.cGray1{color:#aaaaaa!important;}
.cGray2{color: #666!important;}
.cGray3{color: #999999!important;}
.cGray4{color: #cccccc!important;}
.cGray5{color:#707070!important;}
.cGray6{color:#959595!important;}
.cViolet{color:#88589e!important;}
.cGreen{color:#00ff00!important;}
.cRed{color: #ff7449!important;}
.cOrange{color:#ff4400!important;}
.cBlue{ color: #0e6cae!important;}
.cBlack{ color:#000!important;}
.cGreen1{ color:#14b12c!important;}



.cOrange1 { color: #ff4400!important;;}
.cOrange1 a{ color: #ff4400!important;;}
.cOrange1 a:hover{ color: #ff4400; text-decoration:underline!important;;}
.cBlue1 { color: #0e6cae!important;;}
.cBlue1 a{ color: #0e6cae!important;;}
.cBlue1 a:hover{ color: #0e6cae; text-decoration:underline!important;;}
.cBlue12{color:#4199D7;}
/*

 * 定义行高
 * @class LH
 * @desc 使用较少,主要定义line-height属性
 */
.lh1{ line-height:1px;  }
.lh10{ line-height:10px; }
.lh15{ line-height:15px; }
.lh18{ line-height:18px; }
.lh20{ line-height:20px; }
.lh23{ line-height:23px;}
.lh25{ line-height:25px;}
.lh30{ line-height:30px;}
.lh35{ line-height:35px;}
/*
* 从页面布局上隐藏元素
* @class hidden
* @desc    从布局上隐藏元素
*/
.hidden{display: none;}
.block {display:block;}
.inblock {display: inline-block;}
.inline {display:inline;}
/* 字体样式 */
.fb {font-weight:bold;}
.fn {font-weight:normal !important;}
.fsi {font-style:italic;}
.ti2 {text-indent:2px;}
.ti5 {text-indent:5px;}
.ti20 {text-indent:20px;}
/*不能自动换行，超出宽度能变成...，并隐藏*/
.toe {text-overflow:ellipsis;overflow:hidden; white-space:nowrap;}
/* 宽、高 */
.w862{ width:862px;}
.w776{ width:776px;}
.w705{ width:705px;}
.w700{ width:700px;}
.w680{ width:680px;}
.w670{ width:670px;}
.w630{ width:630px;}
.w612{ width:612px;}
.w600{ width:600px;}
.w580{ width:580px;}
.w525{ width:525px;}
.w500{ width:500px;}
.w460{ width:460px;}
.w450{ width:450px;}
.w400{ width:400px;}
.w380{ width:380px;}
.w425{ width:425px;}
.w290{ width:290px;}
.w280{ width:280px;}
.w270{ width:270px;}
.w230{ width:230px;}
.w220{ width:220px;}
.w200{ width:200px;}
.w190{ width:190px;}
.w183{ width:183px;}
.w170{ width:170px;}
.w120{ width:120px;}
.w100{ width:100px;}
.w80{ width:80px;}
.w65{ width:65px;}
.w35{ width:35px;}
.h39{ height:39px;}
.h50{ height:50px;}
.h100{height:100px;}


/* 内/外边距定义*/

.p1{ padding:1px;}
.p5{ padding:5px;}
.p10{ padding:10px;}
.p15{ padding:15px;}
.p20{ padding:20px;}
.p25{ padding:25px;}
.p30{ padding:30px;}
.p50{ padding:50px;}
.p100{ padding:100px;}

.pt0{ padding-top:0px;}
.pt3{ padding-top:3px;}
.pt5{ padding-top:5px;}
.pt7{ padding-top:7px;}
.pt9{ padding-top:9px;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pt16{ padding-top:16px;}
.pt20{ padding-top:20px;}
.pt25{ padding-top:25px;}
.pt30{ padding-top:30px;}
.pt40{ padding-top:40px;}
.pt50{ padding-top:50px;}
.pt80{ padding-top:80px;}
.pt100{ padding-top:100px;}


.pb0{ padding-bottom:0px;}
.pb5{ padding-bottom:5px;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pb25{ padding-bottom:25px;}
.pb30{ padding-bottom:30px;}
.pb50{ padding-bottom:50px;}
.pb100{ padding-bottom:100px;}
.pb150{ padding-bottom:150px;}


.pl0{ padding-left:0px;}
.pl2{ padding-left:2px;}
.pl5{ padding-left:5px;}
.pl40{ padding-left:40px;}
.pl10{ padding-left:10px;}
.pl15{ padding-left:15px;}
.pl20{ padding-left:20px;}
.pl25{ padding-left:25px;}
.pl28{ padding-left:28px;}
.pl30{ padding-left:30px !important;}
.pl35{ padding-left:35px;}
.pl50{ padding-left:50px;}
.pl80{ padding-left:80px;}
.pl90{ padding-left:80px;}
.pl100{ padding-left:100px;}
.pl120{ padding-left:120px;}
.pl140{ padding-left:140px;}
.pl150{ padding-left:150px;}
.pl175{ padding-left:175px;}
.pl190{ padding-left:190px;}
.pl200{ padding-left:200px;}
.pl320{ padding-left:320px;}
.pr5{ padding-right:5px;}
.pr10{ padding-right:10px;}
.pr15{ padding-right:15px;}
.pr20{ padding-right:20px;}
.pr25{ padding-right:25px;}
.pr30{ padding-right:30px;}
.pr50{ padding-right:50px;}
.pr100{ padding-right:100px;}

.m5{  margin:5px;}
.m10{ margin:10px;}
.m15{ margin:15px;}
.m20{ margin:20px;}
.m25{ margin:25px;}
.m30{ margin:30px;}
.m50{ margin:50px;}
.m100{ margin:100px;}

.mt-5{ margin-top:-5px;}
.mt0{ margin-top:0px !important;}
.mt5{ margin-top:5px;}
.mt08{ margin-top:8px;}
.mt10{ margin-top:10px;}
.mt12{ margin-top:12px;}
.mt15{ margin-top:15px;}
.mt16{ margin-top:16px;}
.mt20{ margin-top:20px !important;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px !important;}
.mt40{ margin-top:40px !important;}
.mt50{ margin-top:50px !important;;}
.mt60{ margin-top:60px;}
.mt70{ margin-top:70px;}
.mt80{ margin-top:80px !important;}
.mt90{ margin-top:90px;}
.mt100{ margin-top:100px;}
.mt110{ margin-top:110px !important;}
.mt120{ margin-top:120px;}
.mt315{ margin-top:315px !important;}
.mt330{ margin-top:330px !important;}
.mt400{ margin-top:400px !important;}
.mt525{ margin-top:525px !important;}


.mb5{ margin-bottom:5px;}
.mb7{ margin-bottom:7px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}
.mb30{ margin-bottom:30px;}
.mb50{ margin-bottom:50px!important;}
.mb60{ margin-bottom:60px;}
.mb70{ margin-bottom:70px;}
.mb80{ margin-bottom:80px;}
.mb100{ margin-bottom:100px;}

.ml0{ margin-left:0px !important;}
.ml5{ margin-left:5px;}
.ml6{ margin-left:6px;}
.ml7{ margin-left:7px;}
.ml8{ margin-left:8px;}
.ml9{ margin-left:9px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml17{ margin-left:17px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}
.ml35{ margin-left:35px;}
.ml40{ margin-left:40px;}
.ml45{ margin-left:45px;}
.ml50{ margin-left:50px;}
.ml60{ margin-left:60px;}
.ml70{ margin-left:70px;}
.ml80{ margin-left:80px;}
.ml100{ margin-left:100px;}
.ml120{ margin-left:120px;}
.ml130{ margin-left:130px !important;}
.ml150{ margin-left:150px!important;}
.ml160{ margin-left:160px;}
.ml170{ margin-left:170px;}
.ml190{ margin-left:190px;}
.ml200{ margin-left:200px;}
.ml215{ margin-left:215px;}
.ml250{ margin-left:250px;}
.ml350{ margin-left:350px!important;}
.ml500{ margin-left:500px!important;}

.mr0{ margin-right:0px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr25{ margin-right:25px;}
.mr30{ margin-right:30px;}
.mr33{ margin-right:33px;}
.mr50{ margin-right:50px;}
.mr100{ margin-right:100px;}
