@charset "utf-8";
#header{
    width:100%;
    height:70px;
    background:url(../images/bg-head.png) repeat-x;
}
.head{
    width:1160px;
    margin:0 auto;
}
.top-nav{
    width:600px;
    float:left;
}
.top-nav li{
    float:left;
    height:60px;
    line-height:60px;
    font-size: 14px;
    margin-left:10px;
}
.top-nav li a{
    font-size: 14px;
    padding:0 25px;
}
.top-nav li a.cur{
    color:#0088DE;
}
.top-nav li a:hover{
    color:#0088DE;
}

.search{
    width:200px;
    height:25px;
    position:relative;
    float:left;
    margin-top:17px;
}
.search-key{
    width:170px;
    height:25px;
    line-height: 25px;
    position:absolute;
    padding:0 10px;
    border:1px solid  #A0A0A0;
}
.search-btn{
    width:21px;
    height:18px;
    background:url(../images/3.png) no-repeat;
    position:absolute;
    top:5px;
    right:10px;
    border:0px;
}
a.tougao{
    width:55px;
    height:20px;
    display:block;
    float:right;
    font-size: 14px;
    margin-top:17px;
    text-indent: 27px;
    background:url(../images/2.png)no-repeat;
}


#content{
    width:1160px;
    margin:20px auto 0;
    height:auto;
}
.col-left{
    width:830px;
    float:left;
}
.col-right{
    width:300px;
    float:right;
}
.col-left-left {
    width:155px;
    float:left;
}
.col-left-right{
    width:640px;
    float:right;
}
.banner-left{
    width:860px;
    height:350px;
    float:left;
    overflow:hidden;
    position:relative;
}
.banner-left .title{
    width:480px;
    font-size: 26px;
    line-height:30px;
    color:#fff;
    position:absolute;
    bottom:10px;
    left:25px;
}
.banner-left .time{
    width:475px;
    font-size: 14px;
    line-height:30px;
    color:#E5E5E6;
    position:absolute;
    bottom:8px;
    left:25px;
    text-align:right;
}
.banner-right{
    width:300px;
    height:350px;
    float:left;
    overflow:hidden;
}
.banner-right ul li{
    height:60px;
    padding:14px 15px;
    background:#4B4B4B;
}
.banner-right ul li p{
    width:190px;
    text-align: left;
    padding:0 0 0 20px;
    float:left;
}
.banner-right ul li p.title{
    color:#CACACA;
    line-height:16px;
    height:32px;
}
.banner-right ul li p.title a{
    color:#CACACA;
}
.banner-right ul li p.time{
    color:#797979;
    padding-top:10px;
}
.t-title{
    font-size:18px;
    color:#267CB2;
    height:32px;
    border-bottom:5px solid #D2D2D2;
}
.t-title p{
    height:32px;
    width:75px;
    border-bottom:5px solid #267CB2;
}
.tags{

}
.tags ul li{
    height:40px;
    line-height:40px;
    margin-left:20px;
    list-style: square;
    color:red;
}
.tags ul li a{
    color:#8F8F8F;
}
.tags ul li.tag1{color:#95A5A6}
.tags ul li.tag2{color:#F1C40F}
.tags ul li.tag3{color:#E67E22}
.tags ul li.tag4{color:#E74C3C}
.tags ul li.tag5{color:#2ECC71}
.tags ul li.tag6{color:#1ABC9C}
.tags ul li.tag7{color:#3498DB}
.tags ul li.tag8{color:#9B59B6}
.tags ul li.tag9{color:#34495E}
.tags ul li.tag10{color:#272F37}

.latest-news ul li{
    height:140px;
    padding:25px 0;
    border-bottom:1px solid #BFBFBF;
}
.latest-news ul li p{
    float:left;
    padding-left:20px;
    width:420px;
}
.latest-news ul li p.title{
    font-size: 18px;
    font-weight: 700;
    color:#3C3C3C;
    height:40px;
}
.latest-news ul li p.title a{
    color:#3C3C3C;
}
.latest-news ul li p.time{
    margin-top:15px;
    color:#797979;
}
.latest-news ul li p.content{
    color:#232323;
    margin-top:20px;
    font-size: 14px;
}
.add-more{
    width:638px;
    height:40px;
    line-height:40px;
    text-align:center;
    border:1px solid #DDDDDD;
    display:block;
    color:#4E9BE5;
    font-size:14px;
    margin-top:25px;
    margin-bottom:25px;
}
.t-title span{
    height:32px;
    padding-bottom:10px;
    border-bottom:5px solid #267CB2;
}
.weekly-events{
    margin-top:60px;
}
.weekly-events ul li{
    width:300px;
    height:60px;
    margin-top:20px;
}
.weekly-events ul li p{
    float:left;
    width:220px;
    margin-left:20px;
}
.weekly-events ul li p.title{
    color:#3C3C3C;
    font-size: 14px;
    font-weight: 500;
    height:40px;
    line-height:16px;
}
.weekly-events ul li p.title a{
    color:#3C3C3C;
}
.weekly-events ul li p.time{
    color:#797979;
}
#footer{
    background:#444749;
    padding-top:45px;
}
.footer{
    width:1160px;
    margin:0 auto;
    font-size: 14px;
}
.footer-left{
    float:left;
}
.footer-left .about{
    width:205px;
    margin-left:100px;
}
.footer .title{
    color:#fff;
    font-size: 14px;
}
.footer-left .about ul li{
    margin-top:10px;
}
.footer-left .about ul li a{
    color:#AAAAAA;
}
.footer-right{
    width:850px;
    float:left;
}

.footer-right .idea .content{
    color:#AAAAAA;
    margin-top:20px;
}
.friendly-link{
    margin-top:30px;
}
.friendly-link ul li{
    float:left;
    width:120px;
    height:20px;
    line-height:20px;
    margin-bottom: 5px;
}
.friendly-link ul li a{
    color:#AAAAAA;
}
.copy-right{
    margin-top:60px;
    margin-bottom: 15px;
   
}
.copy-right {
    color:#AAAAAA;
    text-align:center;
}
.crumbs ul{
    height:20px;
    line-height:20px;
    padding-left:30px;
    background:url(../images/home.png) no-repeat 2px center;
}

.crumbs ul li{
    color:#A6A6A6;
    font-size: 14px;
    float:left;
    padding-left:10px;
}
.crumbs ul li a{
    color:#A6A6A6;
    font-size: 14px;
}
.crumbs ul li a.cur{
    color:#4B4B4B;
}

.pages{
    margin-top:25px;
    margin-bottom:40px;
}



.pages ul li{
    float:left;
    border-top:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
}
.pages ul li a{
    width:35px;
    height:35px;
    text-align: center;
    line-height:35px;
    color:#42A8E1;
    display:block;
}
.pages ul li.cur{
    background:#EEEEEE;
}

.pages ul li.first{
    border-left:1px solid #DDDDDD;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pages ul li.last{
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.single-content{
    font-size: 14px;
    line-height:25px;
    /*font-size: 18px;*/
    /*line-height:30px;*/
    padding-bottom:20px;
    border-bottom:1px solid #B5B5B5;
    color:#181818;
}
.single-content p{
    padding:10px 0;

}
.list-more{
    margin:20px auto 70px;
}
.list-more ul li{
    float:left;
}
.list-more ul li p{
    width:200px;
}
.list-more ul li a{
    font-size: 16px;
}

.col-left1{
    width:155px;
    float:left;
}
.col-center1{
    width:15px;
    float:left;
    padding-top:30px;
}
.col-right1{
    width:990px;
    float:left;
    color:#000;
    font-size:14px;
}
.classify{
    margin-top:75px;
}
.classify ul li{
    font-size: 14px;
    color:#000000;
    text-align: center;
    padding-bottom:20px;
    font-weight: bold;
}
.col-right1 .content{
    padding-left:30px;
    margin-top:40px;
    padding-bottom:100px;
}
.col-right1 .content p{
    margin-bottom:10px;
    line-height:30px;
    padding-left:15px;
}
.col-right1 .content p.title{
    padding-left:0px;
    font-size: 16px;
}

.friendly-link1 ul li a{
    color:#464646;
}

.single-title .title{
    color:#363636;
    font-size:20px;
    line-height:30px;
    font-weight: 700;
    width:100%;
}

.single-title .time{
    width:300px;
    float:left;
    padding:15px 0;
}

.single-title  ul{
    /*width:200px;*/
   float:right;
}

.single-title  ul li{
    padding:15px 0;
    float:left;
    margin-right:10px;
}

.sale-style1 li{
    padding:20px 20px 20px 30px;
    border-bottom:1px solid #D2D2D2;
    cursor:pointer;
}
.sale-style1 .sale-content {
    width:225px;
    float:left;
}
.sale-style1 .sale-content p{
    font-size:20px;
    color:#3C3C3C;
    height:25px;

}

.sale-style1 .sale-content p.num{
    color:#FF4C4D;
    font-weight: bold;
    text-indent:20px;
}


.sale-style1 .img {
    width:21px;
    height:54px;
    float:left;

}
.sale-style1 .chart-table {
    width:100%;
    height:160px;
    display:none;

}

.sale-style2 li{
    padding:10px 10px 10px 30px;

}

.sale-style2 li.cur{
    padding:20px 10px 0 0;
    border-bottom:1px solid #D2D2D2;
    cursor:pointer;
}
.sale-style2 p{
    display:inline;
    height: 40px;
    line-height: 40px;
}
.sale-style2 li.cur p{
    height: 22px;
    line-height: 22px;
}

.sale-style2 li.cur .sale-content {
    width:250px;
}
.sale-style2 li.cur .chart-table {
    display:block;
    /*padding-top:15px;*/
}


#slide{
    width:100%;
    height:100%;
}


#slide img {
    width:860px;
    height:350px;
}


#slide .nivoSlider {
    position:relative;
    background:#fff url(../images/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
#slide .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#slide .nivoSlider a {
    border:0;
    display:block;
}

#slide .nivo-controlNav {
    text-align: center;
    padding: 20px 0;
}
#slide .nivo-controlNav a {
    display:inline-block;
    width:22px;
    height:22px;
    background:url(../images/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin: 0 2px;
}
#slide .nivo-controlNav a.active {
    background-position:0 -22px;
}

#slide .nivo-directionNav a {
    display:block;
    width:30px;
    height:30px;
    background:url(../images/arrows.png) no-repeat;
    text-indent:-9999px;
    border:0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
#slide:hover .nivo-directionNav a { opacity: 1; }
#slide a.nivo-nextNav {
    background-position:-30px 0;
    right:15px;
}
#slide a.nivo-prevNav {
    left:15px;
}

#slide .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
#slide .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
#slide .nivo-caption a:hover {
    color:#fff;
}

#slide .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%;
}
#slide .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px;
}
#slide .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto;
}