@CHARSET "UTF-8";
@font-face {font-family:'Architext';src:url('../../../assets/fonts/Architext.eot');src:url('../../../assets/fonts/Architext.eot') format('embedded-opentype'), url('../../../assets/fonts/Architext.woff') format('woff'), url('../../../assets/fonts/Architext.ttf') format('truetype'), url('../../../assets/fonts/Architext.svg') format('svg');font-weight:normal;font-style:normal}
*{box-sizing: border-box}
*:before,*:after{box-sizing: border-box}
*:focus{outline:none}*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none;margin:0;outline:0 none;padding:0}
article,aside,div,dt,figcaption,footer,form,header,hgroup,html,map,nav,section{display:block}
ul,ul li{list-style:none}
img{border:0}
table{border-spacing:0}
body{font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti,Segoe UI Emoji,Segoe UI Symbol;font-size:14px;line-height:1.42857143;color:#2c2e2f;background-color:#eee}
html,body{height:100%}
a{color:#21759b;text-decoration:none;transition:all 0.2s linear 0s}
a:hover{color:#d54e21;text-decoration:none}

.cb{clear:both}
.cf,.page-title,.user-info-navbar{zoom:1;clear:left} 
.cf:before,.cf:after,
.page-title:before,.page-title:after,
.user-info-navbar:before,.user-info-navbar:after{content:"";display:table}
.cf:after,.page-title:after,.user-info-navbar:after{clear: both}
.fl{float:left}
.fr{float:right}
.hide{display:none}

/* 布局类 */
.container{padding:30px 30px 0}
.row{margin:0 -15px}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{float:left;padding:0 15px}
@media screen and (max-width:768px){
	.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{padding:0}
}
.col-12{width:100%}
.col-11{width:91.66666667%}
.col-10{width:83.33333333%}
.col-9{width:75%}
.col-8{width:66.66666667%}
.col-7{width:58.33333333%}
.col-6{width:50%}
.col-5{width:41.66666667%}
.col-4{width:33.33333333%}
.col-3{width:25%}
.col-2{width:16.66666667%}
.col-1{width:8.33333333%}
@media screen and (max-width:768px){
	.col-2,.col-8{width:100%}
}
@media screen and (max-width:992px){
	.col-5,.col-6,.col-7{width:100%}
}
@media screen and (max-width:1140px){
	.col-3,.col-4,.col-8,.col-9{width:100%}
}

/* 左侧导航栏 */
/* 菜单 */
.sidebar-menu{display:table-cell;position:relative;width:230px;background:#2c2e2f;z-index:1}
@media screen and (min-width:1230px){
	.sidebar-menu{width:25.4118%;max-width:340px}
}
.sidebar-menu.fixed{height:100%}
.sidebar-menu.fixed .sidebar-menu-inner{position:fixed;left:0;top:0;bottom:0;overflow:hidden;width:inherit}

/* 导航栏上的logo */
.sidebar-menu .logo-env .logo a{color:#fff;font-family:Architext;font-size:30px;font-weight:bold}
.sidebar-menu .logo-env .logo a:hover{text-decoration:none}
.sidebar-menu .logo-env .logo a.logo-collapsed{display:none}
.sidebar-menu .logo-env .toggle-mobile-menu{display:none}
.sidebar-menu .sidebar-menu-inner .logo-env{margin-bottom:0;padding:19px 30px;border-bottom:1px solid #313437}

/* 左侧菜单基础效果 */
.sidebar-menu .main-menu{padding:0 30px;margin-top:20px;margin-bottom:20px}
.sidebar-menu .main-menu a{color:#979898;text-decoration:none;display:block;padding:13px 5px;border-bottom:1px solid #313437}
.sidebar-menu .main-menu a:hover{color:#fff}
.sidebar-menu .main-menu a i{margin-right:10px}
.sidebar-menu .main-menu li.active > a{color:#fff}
.sidebar-menu .main-menu > li.opened > ul{display:block}
.sidebar-menu .main-menu > li.opened .opened > ul{display:block}
.sidebar-menu .main-menu ul{display:none;overflow:hidden}
.sidebar-menu .main-menu .expanded > ul{display:block}
.sidebar-menu .main-menu ul li{position:relative}
.sidebar-menu .main-menu ul li a{padding-left:35px}
.sidebar-menu .main-menu ul li ul li a{padding-left:60px}
.sidebar-menu .main-menu ul li ul li ul li a{padding-left:85px}
.sidebar-menu .main-menu ul li ul li ul li ul li a{padding-left:110px}
.sidebar-menu .main-menu li.has-sub > a:before{position:relative;display:inline-block;font-family:'FontAwesome';content:'\f107';float:right;color:#6d747a;margin-left:10px;transform:rotate(-90deg);transition:all 150ms ease-in-out}
.sidebar-menu .main-menu li.has-sub.expanded > a:before{transform:rotate(0deg)}
.sidebar-menu .main-menu > li > a > i.fa{width:1.25em;display:inline-block;text-align:center}

/* 打开菜单挨个划入的效果 */
@media screen and (min-width:768px){
	.sidebar-menu .main-menu ul li.is-hidden{left:-20px;opacity:0}
}
.sidebar-menu .main-menu ul li.is-shown{left:0;zoom:1;opacity:1;transition:all 200ms ease-in-out}
.sidebar-menu .main-menu ul li.is-shown + .is-shown{transition-delay:80ms}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown{transition-delay:120ms}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown{transition-delay:160ms}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:200ms}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:240ms}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:280ms}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:320ms}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:360ms}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:400ms}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:440ms}

/* 小屏幕菜单到顶部 */
@media screen and (max-width:768px){
	.wrapper{display:block;position:relative}
	.sidebar-menu{display:block;width:100%;height:auto}
	.sidebar-menu{position:relative}
	.sidebar-menu .sidebar-menu-inner{position:relative !important}
	.sidebar-menu .sidebar-menu-inner .logo-env{padding:12px 30px}
	.sidebar-menu .sidebar-menu-inner .main-menu{padding:0 20px}
	.sidebar-menu .sidebar-menu-inner .main-menu{display:none;margin-bottom:0}
	.sidebar-menu .sidebar-menu-inner .main-menu.mobile-is-visible{display:block}
	.sidebar-menu .sidebar-menu-inner .main-menu > li:last-child > a{border-bottom:0}
	.sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle{position:absolute;right:30px;top:25px}
	.sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle a{position:relative;display:inline-block;color:#979898;line-height:1;margin-left:15px}
	.user-info-navbar .user-info-menu.fl{display:none}
}

/* 菜单缩起来的效果 */
@media screen and (min-width:769px){
	.sidebar-menu.collapsed{width:80px;z-index:10;overflow:visible}
	.sidebar-menu.collapsed .main-menu{padding:0}
	.sidebar-menu.collapsed .main-menu > li{text-align:center;position:relative}
	.sidebar-menu.collapsed .main-menu > li > a > span{display:none}
	.sidebar-menu.collapsed .main-menu > li > ul{position:absolute;background:#2c2e2f;width:250px;top:0;left:100%;text-align:left;display:none}
	.sidebar-menu.collapsed .main-menu > li:hover > ul{display:block}
	.sidebar-menu.collapsed .main-menu > li.has-sub > a:before{display:none}
	.sidebar-menu.collapsed .main-menu > li.has-sub > ul a{padding-right:20px}
	.sidebar-menu.collapsed .main-menu > li > a > i{margin-right:0}
	.sidebar-menu.collapsed .logo-env{padding:18px 0}
	.sidebar-menu.collapsed .logo-env .logo a.logo-expanded{display:none}
	.sidebar-menu.collapsed .logo-env .logo a.logo-collapsed{display:block;text-align:center}
	.sidebar-menu.collapsed .sidebar-menu-inner{position:relative;overflow:visible}
}

/* 内容主体 */
.wrapper{display:table;width:100%;height:100%;vertical-align:top;border-collapse:collapse;border-spacing:0;table-layout:fixed}
.main-content{display:table-cell;position:relative;z-index:1;padding:30px;vertical-align:top;word-break:break-word}
@media screen and (max-width:768px){
	.wrapper,.main-content{height:auto;display:block}
}

/* 内容主题-页面标题 */
.main-content .page-title{background:#f8f8f8;margin:-30px;margin-bottom:30px;padding:20px 0;box-shadow:0 1px 0 rgba(0,1,1,.08), inset 0 1px 0 #ededed}
@media screen and (max-width: 768px) {
	.main-content .page-title{padding:15px 0}
}
.main-content .page-title .title-env{padding-left:30px}
.main-content .page-title .title-env h1{font-size:27px;font-weight:normal;float:left;vertical-align:bottom}
/* 快捷菜单 */
.main-content .page-title .quick-link{font-size:14px;margin-left:10px}
.main-content .page-title .quick-link i{margin-right:5px}
.main-content .page-title .operate-env{float:right;padding-right:30px}
.main-content .page-title .operate-env .fa{color:#979898;padding:4px 8px}
.main-content .page-title .operate-env .fa:hover{color:#646565}
.main-content .page-title .operate-env .faycms-help-link{transition:all 700ms ease-in-out;transform:rotateY(0deg)}
.main-content .page-title .operate-env .faycms-help-link:hover{transform:rotateY(360deg)}

/* 顶部导航 */
.main-content .user-info-navbar{background-color:#fff;margin:-30px;margin-bottom:30px}
.user-info-navbar .user-info-menu .fa{font-size:15px}
.user-info-navbar .user-info-menu > li{position:relative;border:1px solid #fff;border-top:0;border-bottom:0;display:block;float:left}
.user-info-navbar .user-info-menu > li.hover-line:hover:before,.user-info-navbar .user-info-menu > li.hover-line.open:before{content:'';position:absolute;display:block;height:2px;top:0;left:0;right:0;background:#68b828}
.user-info-navbar .user-info-menu > li > a{position:relative;display:block;padding:30px 20px;color:#606161;border-bottom:1px solid #fff}
.user-info-navbar .user-info-menu > li > a.toggle-sidebar{padding-left:30px}
.user-info-navbar .user-info-menu > li.user-profile{margin-right:10px}
.user-info-navbar .user-info-menu > li.dropdown-container a.dropdown{border-bottom-color:#ededed}
.user-info-navbar .user-info-menu > li.dropdown-container.open > a{border-bottom-color:#fff}
.user-info-navbar .user-info-menu > li.user-profile img{position:relative;top:8px;margin-top:-17px;width:28px;height:28px}
.user-info-navbar .user-info-menu > li.user-profile img + span{margin-left:9px}
.user-info-navbar .user-info-menu > li.user-profile i.fa{margin-left:5px}
.user-info-navbar .user-info-menu > li.open{border-left-color:#ddd;border-right-color:#ddd;z-index:15}
.user-info-navbar .user-info-menu > li.user-profile .dropdown-menu{width:250px}
.user-info-navbar .user-info-menu > li.dropdown-container > ul > li.last{background-color:#fafafa}
.user-info-navbar .user-info-menu > li.dropdown-container > ul > li.last:after{content:'';display:block;position:absolute;height:1px;background:#f0f0f0;top:-1px;left:0;right:0}
.user-info-navbar .user-info-menu > li.dropdown-container > ul > li.last a{border-bottom:0}