@CHARSET "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none;margin:0;outline:0 none;padding:0;}
article,aside,div,dt,figcaption,footer,form,header,hgroup,html,map,nav,section{display:block;}
ul,ul li{list-style:none;}
img{border:0;}
table{border-spacing:0;}
*:focus{outline:none;}

.cb{clear:both;}
.cf{zoom:1;clear:left;} 
.cf:before,.cf:after{content:"";display:table;}
.cf:after{clear: both;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}

@font-face {font-family:'FontAwesome';src:url('../../../assets/fonts/fontawesome-webfont.eot?v=4.0.3');src:url('../../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../../assets/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../../assets/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../../assets/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'Architext';src:url('../../../assets/fonts/Architext.eot');src:url('../../../assets/fonts/Architext.eot') format('embedded-opentype'), url('../../../assets/fonts/Architext.woff') format('woff'), url('../../../assets/fonts/Architext.ttf') format('truetype'), url('../../../assets/fonts/Architext.svg') format('svg');font-weight:normal;font-style:normal;}
html,body{height:100%;}
body{font:14px/1.5 "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;color:#2c2e2f;background-color:#eee;}
a{text-decoration:none;transition:all 0.2s linear 0s;color:#029BC1;}
a:hover{color:#F08135;text-decoration:underline;}
code{border:1px solid #eaeaea;margin:0 2px;padding:1px 5px;background-color:#f8f8f8;border-radius:3px;color:#d14;}

.panel{position:relative;background:#fff;padding:20px 30px;margin-bottom:30px;}
.panel .panel-header h2{font-size:17px;padding-bottom:15px;border-bottom:2px solid #f5f5f5;font-weight:normal;color:#2c2e2f;}
.panel .panel-header h2 .icon-file{margin-left:5px;}
.panel .panel-header h2 a{color:#373e4a;}
.panel .panel-header h2 a:hover{color:#16191e;}
.panel .panel-body{color:#7d7f7f;padding-top:20px;}
.panel .panel-body p{margin-bottom:10px;}
.panel.panel-headerless .panel-body{padding-top:0;}
.panel .panel-body h3{color:#2c2e2f;margin-bottom:10px;font-weight:normal;font-size:16px;}
.panel .panel-body h4{color:#2c2e2f;margin-bottom:8px;font-weight:normal;font-size:14px;}
.panel .panel-body ul,.panel .panel-body ol{padding-left:20px;margin-bottom:10px;}
.panel .panel-body ol{padding-left:30px;margin-bottom:10px;}
.panel .panel-body strong{color:#2c2e2f;font-weight:normal;font-size:15px;}
.panel .panel-body ul > li{list-style-type:disc;}
.panel .panel-body ul > li > ul > li{list-style-type:square;}
.panel .panel-body ol li{list-style-type:decimal;}
.panel .panel-body blockquote{padding:9px 11px;margin-bottom:18px;border-left:5px solid #eeeeee;}
.panel .panel-body blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child{margin-bottom:0;}
@media screen and (max-width:1140px){
	.panel{margin-left:-30px;margin-right:-30px;}
}

table{border-collapse:collapse;border-spacing:0;width:100%;max-width:100%;margin-bottom:10px;border:1px solid #eee;}
table th,table td{border-bottom:1px solid #eee;padding:12px 15px;}
table th{position:relative;text-align:left;color:#2c2e2f;}
table th:after{content:'';display:block;position:absolute;left:0;right:0;bottom:1px;height:1px;background-color:#eee;}
@media screen and (max-width:1140px){
	table td,table th{padding:6px 7px;}
}

.wrapper{display:table;width:100%;height:100%;vertical-align:top;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
.sidebar-menu{display:table-cell;position:relative;width:25.4118%;background:#2c2e2f;z-index:1;}
.sidebar-menu.fixed{height:100%;}
.sidebar-menu.fixed .sidebar-menu-inner{position:fixed;left:0;top:0;bottom:0;overflow:hidden;}

/* 导航栏上的logo */
.sidebar-menu .logo-env .logo a{color:#fff;font-family:Architext;font-size:30px;font-weight:bold;}
.sidebar-menu .logo-env .logo a:hover{text-decoration:none;}
.sidebar-menu .logo-env .logo a.logo-collapsed{display:none;}
.sidebar-menu .logo-env .toggle-mobile-menu{display:none;}
.sidebar-menu .sidebar-menu-inner .logo-env{margin-bottom:0;padding:19px 45px;border-bottom:1px solid #313437;}

/* 左侧菜单基础效果 */
.sidebar-menu .main-menu{padding-left:40px;padding-right:40px;margin-top:20px;margin-bottom:20px;list-style:none;}
.sidebar-menu .main-menu a{color:#979898;text-decoration:none;display:block;padding:13px 5px;border-bottom:1px solid #313437;}
.sidebar-menu .main-menu a:hover{color:#fff;}
.sidebar-menu .main-menu li.active > a{color:#fff;}
.sidebar-menu .main-menu > li.opened > ul{display:block;}
.sidebar-menu .main-menu > li.opened .opened > ul{display:block;}
.sidebar-menu .main-menu ul{display:none;margin:0;padding:0;overflow:hidden;list-style:none;}
.sidebar-menu .main-menu ul li{position:relative;}
.sidebar-menu .main-menu ul li a{padding-left:35px;}
.sidebar-menu .main-menu ul li ul li a{padding-left:60px;}
.sidebar-menu .main-menu ul li ul li ul li a{padding-left:85px;}
.sidebar-menu .main-menu ul li ul li ul li ul li a{padding-left:110px;}
.sidebar-menu .main-menu li.has-sub > a:before{position:relative;display:inline-block;font-family:'FontAwesome';content:'\f107';float:right;color:#6d747a;margin-left:10px;transform:rotate(-90deg);transition:all 150ms ease-in-out;}
.sidebar-menu .main-menu li.has-sub.expanded > a:before{transform:rotate(0deg);}

/* 打开菜单挨个划入的效果 */
@media screen and (min-width:1140px){
	.sidebar-menu .main-menu ul li.is-hidden{left:-20px;opacity:0;}
}
.sidebar-menu .main-menu ul li.is-shown{left:0;zoom:1;opacity:1;transition:all 200ms ease-in-out;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown{transition-delay:80ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown{transition-delay:120ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown{transition-delay:160ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:200ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:240ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:280ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:320ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:360ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:400ms;}
.sidebar-menu .main-menu ul li.is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown + .is-shown{transition-delay:440ms;}

@media screen and (max-width:1140px){
.wrapper{display:block;position:relative;}
.sidebar-menu{display:block;width:100%;height:auto;}
.sidebar-menu{position:relative;}
.sidebar-menu .sidebar-menu-inner{position:relative;}
.sidebar-menu .sidebar-menu-inner .logo-env{padding:12px 30px;}
.sidebar-menu .sidebar-menu-inner .main-menu{padding:0 20px;}
.sidebar-menu .sidebar-menu-inner .main-menu{display:none;margin-bottom:0;}
.sidebar-menu .sidebar-menu-inner .main-menu.mobile-is-visible{display:block;}
.sidebar-menu .sidebar-menu-inner .main-menu > li:last-child > a{border-bottom:0;}
.sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle{position:absolute;right:20px;top:25px;}
.sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle a{position:relative;display:inline-block;color:#979898;line-height:1;margin-left:15px;}
}

/* 主标题 */
.main-title{background:#f8f8f8;margin:-30px;margin-bottom:0;padding:20px 0;box-shadow:0 1px 0 rgba(0,1,1,.08), inset 0 1px 0 #ededed;}
.main-title h1{padding-left:30px;padding-top:3px;float:left;font-weight:normal;font-size:22px;}
.main-title .breadcrumb{padding:11px 45px 10px 15px;list-style:none;}
.main-title .breadcrumb li{display:inline-block;}
.breadcrumb > li + li:before{content:"/\00a0";padding:0 5px;color:#ccc;}
.main-title .breadcrumb li i{margin-right:4px;}
.main-title .breadcrumb li a{color:#979898;}

/* 内容主体部分 */
.main-content{display:table-cell;position:relative;z-index:1;padding:30px;padding-bottom:0;vertical-align:top;word-break:break-word;}
.main-content .main-content-inner{padding:20px 0;}
@media screen and (max-width:1140px){
.wrapper,.main-content{height:auto;display:block;}
}

/* 底部 */
.main-footer{padding:20px 30px;border-top:1px solid #ddd;margin:0 -30px;font-size:12px;}
.main-footer .copyright a{font-weight:bold;color:#2c2e2f;font-weight:bold;}
.main-footer .go-up a{display:inline-block;background-color:rgba(44, 46, 47, 0.05);padding:2px 5px;}
.main-footer .go-up a:hover{background-color:rgba(44, 46, 47, 0.1);}

[class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-style:normal;width:1.25em;display:inline-block;text-align:center;}
.icon-bars:before{content:"\f0c9";}
.icon-angle-up:before{content:"\f106";}
.icon-file:before{content:"\f15c";}

/* prettyPrint */
.prettyprint{border-radius:3px;}
.prettyprint code{border:0 none;background:none;padding:0;margin:0;}
pre .str,code .str{color:#65b042}
pre .kwd,code .kwd{color:#e28964}
pre .com,code .com{color:#aeaeae;font-style:italic}
pre .typ,code .typ{color:#89bdff}
pre .lit,code .lit{color:#3387cc}
pre .pun,code .pun{color:#fff}
pre .pln,code .pln{color:#fff}
pre .tag,code .tag{color:#89bdff}
pre .atn,code .atn{color:#bdb76b}
pre .atv,code .atv{color:#65b042}
pre .dec,code .dec{color:#3387cc}
pre.prettyprint,code.prettyprint{background-color:#333;font-family:'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;}
pre.prettyprint{margin:0 auto;padding:1em 0 1em 1em;white-space:pre-wrap;margin-bottom:10px;}
ol.linenums{margin-top:0;margin-bottom:0;color:#aeaeae}
@media print{
pre .str,code .str{color:#060}
pre .kwd,code .kwd{color:#006;font-weight:bold}
pre .com,code .com{color:#600;font-style:italic}
pre .typ,code .typ{color:#404;font-weight:bold}
pre .lit,code .lit{color:#044}
pre .pun,code .pun{color:#440}
pre .pln,code .pln{color:#333}
pre .tag,code .tag{color:#006;font-weight:bold}
pre .atn,code .atn{color:#404}
pre .atv,code .atv{color:#060}
}
pre li.crt{background-color:#553B3B;}
pre li:hover{background-color:#575757;}