@CHARSET "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none;margin:0;outline:0 none;padding:0;font-size:100%;}
article,aside,div,dt,figcaption,footer,form,header,hgroup,html,map,nav,section{display:block;}
body{background-color:#F0F0F0;font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;font-size:100%;color:#454545;}
ul,ul li{list-style:none;}
a{color:#029BC1;text-decoration:none;}
a:hover{color:#F08135;text-decoration:none;}
img{border:0;}
textarea,input[type="text"],input[type="password"],input[type="file"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="url"],select{border:1px solid #DFDFDF;padding:3px;border-radius:3px;font-size:13px;}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="file"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="url"]:focus,select:focus{border-color:#AAAAAA;box-shadow:1px 1px 2px rgba(0,0,0,0.1);}
.clear{clear:both;}
.f-left{float:left;}
.f-right{float:right;}
.btn-1{transition:all 0.2s linear 0s;font-size:0.8em;margin:0 10px 0 0;padding:3px 10px;text-align:center;}
.white {
    background: none repeat scroll 0 0 #EAEAEA;
    color: #686868;
}
.white:hover {
    background: none repeat scroll 0 0 #D2D2D2;
    color: #686868;
}
.yellow {
    background: none repeat scroll 0 0 #FFB141;
    border: 0 none;
    color: #FFFFFF;
}
.yellow:hover, .not-urgent:hover, .not-urgent.sel{
    background: none repeat scroll 0 0 #FD9602;
    color: #FFFFFF;
}
.orange {
    background: none repeat scroll 0 0 #FE7E17;
    border: 0 none;
    color: #FFFFFF;
}
.orange:hover {
    background: none repeat scroll 0 0 #F77309;
    color: #FFFFFF;
}
.black {
    background: none repeat scroll 0 0 #787878;
    color: #FFFFFF;
}
.black:hover {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}
.green {
    background: none repeat scroll 0 0 #9DD30B;
    color: #FFFFFF;
}
.green:hover{
    background: none repeat scroll 0 0 #8DBD0A;
    color: #FFFFFF;
}
.bluemarin {
    background: none repeat scroll 0 0 #30B4C5;
    color: #FFFFFF;
}
.bluemarin:hover {
    background: none repeat scroll 0 0 #2B9FAE;
    color: #FFFFFF;
}
.rose {
    background: none repeat scroll 0 0 #EE5051;
    color: #FFFFFF;
}
.rose:hover {
    background: none repeat scroll 0 0 #D64849;
    color: #FFFFFF;
}
.red{
    background: none repeat scroll 0 0 #E1472F;
    color: #FFFFFF;
}
.red:hover,.urgent:hover,.urgent.sel{
    background: none repeat scroll 0 0 #D44029;
    color: #FFFFFF;
}
.hide{display:none;}
.form-field{margin:5px 0;}
.common-dialog{padding:3%;overflow:hidden;}
.common-dialog-operation{position:absolute;left:3%;bottom:8%;}
.wrapper{min-height:100%;position:relative;overflow:hidden;}
.sidebar{top:0;bottom:0;right:-270px;background-color:#303135;position:fixed;width:270px;overflow:auto;}
.sidebar-menu li{border-bottom: 1px solid #27282B;border-top: 1px solid #3C3C3C;line-height: 37px;}
.sidebar-menu li a{color: #FFFFFF;display: block;height: 37px;overflow: hidden;padding-left: 17px;position: relative;text-shadow: 1px 1px 2px #474849;font-size:0.9em;}
.sidebar-menu li .arr{background: url("images/arrow.png") no-repeat scroll 0 -75px transparent;height: 15px;margin-top: -6px;position: absolute;right: 14px;top: 50%;width: 9px;}
.sidebar-menu li ul li{background-color:#444444;border-bottom:0;}
.content{z-index:100;position:relative;left:0px;}
.menu{background:url("images/bg-menu-main.gif") no-repeat scroll center top #2A2A2A;height:41px;width:100%;position:fixed;z-index:100;top:0;}
.menu .settings-link{background:url("images/icons.png") no-repeat scroll 0 0 transparent;height:41px;width:41px;display:block;}
.menu .add-message-link{background:url("images/icons.png") no-repeat scroll -41px 0 transparent;height:41px;width:41px;display:block;}
.content-shade{background:url("images/bg-content-shade.gif") repeat-x scroll center top transparent;height:20px;width:100%;margin-top:41px;}
#main{background:url("images/bg-content.gif") no-repeat scroll center top transparent;padding-bottom:45px;position:relative;}
.post-list{padding:10px 10px 0;}
.post-list-header{background-color:#FFFFFF;border-top:2px solid #000000;box-shadow:2px 2px 10px 0 #E7E5E6;margin:0 2px 17px;padding:20px;}
.post-list-item{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #E7E5E6;box-shadow:2px 2px 10px #E7E5E6;margin:0 0 17px 0;padding:20px;}
.post-list-item:hover{}
.post-list .work-file-item{width:22%;overflow:hidden;float:left;margin-right:1%;margin-bottom:1%;}
.post-list .work-file-item img{width:100%;}
.post-list .work-file-item:hover{opacity:0.8;}
.post-meta{font-size:0.7em;padding:0 0 6px;color:#C5C5C5;}
.post-content{color:#535353;font-size:1em;line-height:1.3;overflow:visible;padding:6px 0;}
.post-tags,.post-item .post-tags{margin-top:7px;}
.post-more-link{margin-top:4px;float:right;font-size:12px;color:#B4B4B4;}
.post-more-link:hover{color:#888888;}
.post-type,.post-item .post-type{color:#B4B4B4;float:left;font-size:0.8em;line-height:1.1;margin:0 10px 0 0;padding:5px 10px;text-align:center;text-transform:uppercase;background-color:#F5F5F5;}
.post-type:hover{color:#888888;}

.leave-message-container{position:fixed;width:100%;bottom:0;background-color:#FFFFFF;display:none;z-index:101;}
.leave-message{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E7E5E6;
    box-shadow: 2px 2px 10px #E7E5E6;
    padding: 30px;
}
#leave-message-form{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #E7E5E6;padding:30px;}
.leave-message-input{width:99%;height:99%;}
.leave-message-submit-container{
	background-color: #F7F7F7;
    border: 1px solid #E3E3E3;
    box-shadow: 0 1px 0 #FDFDFD inset;
    height: 38px;
    line-height: 38px;
}
.leave-message-submit-container h2{
	margin-left:10px;
}
#leave-message-submit{
	border-left: 1px solid #FFFFFF;
    box-shadow: 1px 0 1px #E3E3E3 inset;
    text-align: center;
    width: 56px;
}
#leave-message-cancel{
	border-left: 1px solid #FFFFFF;
    box-shadow: 1px 0 1px #E3E3E3 inset;
    text-align: center;
    width: 56px;
}
.message-list{margin-top:20px;}
.message-list ul li{margin-top:5px;padding:10px;background-color:#F7F7F7;}
.message-list .message-time{font-family: Georgia,Tahoma,Helvetica,arial;height:17px;font-size:11px;color:#CCCCCC;float:right;}

.profile .profile-avatar img{width:190px;height:190px;}
.profile .profile-info{line-height:26px;font-size:12px;}
.profile .profile-info span{margin-right:10px;}
.profile .profile-nickname{font-size:16px;}
.post-item{margin-bottom:30px;padding:30px;background-color:#FFFFFF;}
.post-item .post-content{margin:20px 0;font-size:14px;line-height:24px;}
.post-item .post-content img{max-width:95%;display:block;margin:0 auto;padding:3px;border:1px solid grey;}
.post-item .post-content p{margin:10px 0;}
.post-item .post-meta{color:#C5C5C5;font-size:0.7em;}
.widget.recent-post ul{margin-left:12px;}
.widget.recent-post ul li{list-style:square outside none;}

.page{
	height: 38px;
    margin: 30px auto;
    position: relative;
    text-align: center;
	width:80%;
}
.page .prev, .page .next{
	height: 35px;
    line-height: 35px;
    width: 20%;
	background-color: #FAFAFA;
    border: 1px solid #E2E2E2;
    box-shadow: 0 1px 1px #FEFEFE inset;
	display: block;
}
.page .prev{
	float:left;
	margin-right:2%;
}
.page .next{
	float:right;
}
.page .disabled{
	color:#CDCDCD;
}
.page .summary{
	height: 35px;
    line-height: 35px;
	background-color: #FAFAFA;
    border: 1px solid #E2E2E2;
    box-shadow: 0 1px 1px #FEFEFE inset;
    color: #6590BD;
	display:block;
	float:left;
	width:55%;
}


.SRC_Wrap{font-size:12px;height:auto;}
.SRC_Title{border-bottom:2px solid #999999;color:#555555;font-family:Verdana,Geneva,sans-serif;font-size:14px;font-weight:700;padding:5px;text-align:center;}
.SRC_Line{background-color:#FAFAFA;line-height:28px;min-height:28px;width:100%;}
.SRC_Line:nth-child(2n){background-color:#F5F5F5;}
.SRC_NumBox{float:left;width:5%;}
.SRC_Num{color:#555555;font-family:Verdana,Geneva,sans-serif;font-size:12px;font-weight:500;height:auto;line-height:28px;min-height:28px;padding-right:2px;text-align:right;width:100%;}
.SRC_CodeContent{border-left:1px solid #D5D5D5;font-family:"Courier New",Courier,monospace;font-size:12px;line-height:28px;margin:0;min-height:28px;padding-left:6px;white-space:pre-wrap;}
.SRC_NumContent{color:#555555;margin-right:4px;text-align:right;}
.SRC_CodeBox{float:left;width:95%;}
.SC_blue{color:blue;}
.SC_grey{color:grey;}
.SC_navy{color:navy;}
.SC_green{color:green;}
.SC_orange{color:#993300;}
.SC_red{color:#FF0000;}
.SC_teal{color:teal;}
.SC_gold{color:#FFCC00;}
.SC_pink{color:#FF68A4;}
.SC_bold{font-weight:700;}