@CHARSET "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none;margin:0;outline:0 none;padding:0;}
article,aside,div,dt,figcaption,footer,form,header,hgroup,html,map,nav,section{display:block;}
ul,ul li{list-style:none;}
img{border:0;}
a{color:#029BC1;text-decoration:none;}
a:hover{color:#F08135;text-decoration:underline;}
body{background:url("images/6564.jpg") repeat scroll 0 0 #FFFFFF;font:13px/1.5 Microsoft YaHei,"微软雅黑","宋体",Arial,tahoma,arial;color:#656565;}
p{line-height:20px;font-size:12px;}
.clear{clear:both;}
.f-left{float:left;}
.f-right{float:right;}
.bold{font-weight:bold;}
.color-red{color:red;}

.indent-2em{text-indent:2em;}

.box-1{}
.box-1-title{height:41px;border-bottom:1px solid #dbdada;position:relative;}
.box-1-title .more{right:0;bottom:3px;position:absolute;}
.box-1-title .more img{display:block;}
.box-1-title h3{padding:9px 12px;background-color:#88b5da;border:1px solid #ffffff;color:#FFFFFF;font-size:14px;float:left;}
.box-1-content{padding:9px 0;}

a.big-button{width:86px;height:33px;line-height:33px;color:#FFFFFF;background-color:#54a7ea;border:1px solid #3581be;display:block;text-align:center;font-size:14px;}
a.big-button:hover{color:#FFFFFF;text-decoration:none;background-color:#358BD0;}

.wrapper{width:980px;margin:0 auto;background-color:#FFFFFF;}
#masthead{height:156px;position:relative;}
#masthead h1{height:45px;width:187px;background:url("images/logo.png") no-repeat scroll 0 0 transparent;position:absolute;left:15px;top:30px;text-indent:-9999px;}
#masthead h2{height:41px;width:247px;background:url("images/slogan.png") no-repeat scroll 0 0 transparent;position:absolute;left:237px;top:34px;text-indent:-9999px;}
#site-navigation{height:55px;position:absolute;bottom:0;background-color:#FFFFFF;width:100%;background:url("images/dao.png") repeat-x scroll 0 0 #FFFFFF;}
#site-navigation ul{margin-left:80px;}
#site-navigation ul li{float:left;padding-left:18px;height:55px;background:url("images/menu-division.png") no-repeat scroll 2px 10px transparent;}
#site-navigation ul li.first{padding:0;background:none;}
#site-navigation ul li a{padding: 10px 21px 0;text-align: center;font-size:14px;float:left;height:45px;line-height: 20px;}
#site-navigation ul li a:hover{text-decoration:none;}
#site-navigation ul li a span{ line-height:14px; display:block;color:#7f7f7f;}
#site-navigation ul li em{overflow: hidden;text-align: left;font-size:12px;height:9px;width: 100%;font-style:normal;color:#b7b7b7;}
#site-navigation ul li.sel a span, #site-navigation ul li a:hover span{color:#3681bf;}
#site-navigation ul li.sel a em, #site-navigation ul li a:hover em{color:#3681bf;}

#searchform-container{position:absolute;top:43px;right:14px;border:1px solid #c8c8c8;border-radius:2px;width:159px;height:29px;background-color:#FFFFFF;}
#searchform-container label{position:absolute;left:9px;top:4px;font-size:14px;color:#919191;}
#searchform-container #searchform-input{width:146px;margin-top:7px;border:0 none;padding:0 6px;}
#searchform-container #searchform-submit{width:28px;height:25px;position:absolute;right:3px;top:3px;overflow:hidden;}

#header-options{position:absolute;right:14px;top:10px;}
#header-options a{font-size:11px;color:#818181;}

#banner{border-bottom:1px solid #c9c9c9;position:relative;}
#banner img{border-bottom:1px solid #6c6c6c;display:block;}
#banner .logos{width:37px;height:37px;position:absolute;top:290px;left:28px;}
#banner .logos img{position:absolute;bottom:0;border:0 none;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/W3CfunsLogo.png");}

#main{margin-top:18px;background-color:#ffffff;}
#sec-1{width:287px;float:left;}
#sec-1 .box-1-title{margin-left:12px;}
#sec-1 .box-1-content{padding:9px 12px;}
#sec-1 p{margin-top:10px;text-indent:2em;line-height:24px;}
#sec-2{width:353px;margin-left:19px;float:left;font-size:12px;}
#sec-2 #top-news{height:98px;}
#sec-2 #top-news img{margin-right:15px;}
#sec-2 #top-news p{font-size:12px;}
#sec-2 #top-news h4{height:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#sec-2 #top-news h4 a{color:#333333;font-size:12px;}
#sec-2 #news-list{margin-top:14px;}
#sec-2 #news-list li{margin-bottom:5px;height:18px;}
#sec-2 .news-list-type{padding:0 6px;color:#FFFFFF;background-color:#88b5da;margin-right:4px;}
#sec-2 .news-list-title{padding:0 6px;color:#656565;white-space:nowrap;outline:medium none;}
#sec-2 .news-list-title span{width:225px;display:block;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#sec-2 .news-list-title span:hover{text-decoration:underline;}
#sec-3{width:290px;margin-left:19px;float:left;position:relative;}
#sec-3 #call-me{position:absolute;top:53px;right:2px;}
#sec-3 #call-me-text{position:absolute;top:76px;left:11px;color:#323232;font-size:14px;}
#sec-3 #contact{padding-top:99px;}
#sec-3 .phone{background:url("images/icon-phone.jpg") no-repeat scroll 0 0 transparent;padding:0 0 2px 30px;color:#f66868;font-size:18px;margin:10px 0;}

#colophon{margin:34px;border-top:1px solid #dbdada;padding:14px 0 30px;}
#footer-copyright-container{padding-left:110px;background:url("images/logo-grey.jpg") no-repeat scroll 0 center transparent;margin:0 auto;width:355px;}
#footer-copyright,#footer-copyright-welcome{font-size:12px;color:#636363;}

#inner-page header{border-bottom:6px solid #e9eaea;}

#content{margin:10px 14px;}
#sidebar{width:258px;border-top:12px solid #79aed9;background:url("images/sidebar-bg.jpg") repeat-x scroll 0 0 #EFEFEF;float:left;}
#sidebar-bg-left, #sidebar-bg-right{height:100%;}
#sidebar-bg-left{background:url("images/sidebar-left.png") no-repeat scroll 0 0 transparent;}
#sidebar-bg-right{background:url("images/sidebar-right.png") no-repeat scroll right 0 transparent;}
#sidebar-content{padding:18px 25px;}
#sidebar-content ul li a{display:block;height:36px;line-height:36px;background-color:#bfd4e4;border-bottom:6px solid #e3e3e3;margin-bottom:3px;color:#FFFFFF;font-size:15px;padding-left:50px;}
#sidebar-content ul li a.sel{background:url("images/sidebar-sel.jpg") no-repeat scroll 19px 11px #358bd0;}
#sidebar-content ul li a:hover{background-color:#358bd0;text-decoration:none;}

#main-content{width:684px;background:url("images/main-content-bg.jpg") repeat-x scroll 0 bottom #ffffff;float:right;overflow:hidden;}
#sub-title{color:#405b79;font-size:17px;font-weight:normal;background:url("images/youdao-bg.jpg") no-repeat scroll right 3px transparent;padding:6px 0 2px 2px;border-bottom:1px solid #dbdada;}
#breadcrumbs{background:url("images/des.jpg") no-repeat scroll 0 0 transparent;height:25px;line-height:25px;text-align:right;color:#969696;font-size:12px;}
#sub-banner{width:100%;}
#main-content #news-list{padding:19px 16px;}
#main-content #news-list li{padding:7px 15px;color:#5a5a5a;font-size:12px;background:url("images/scroll_arrow_up.png") no-repeat scroll 1px 10px transparent;}
#main-content #news-list li a{color:#5a5a5a;}
#main-content #news-list .time{float:right;}

#page-item{padding:25px 20px;}
#page-item p{line-height:24px;}

.team-desc{padding:19px 16px;}
.team-desc p{margin-bottom:10px;color:#838383;}
#team-list{padding:19px 16px;}
#team-list li{margin:0 17px 29px 0;width:150px;float:left;}
#team-list li.last{margin-right:0;}
#team-list li img{width:150px;height:150px;}
#team-list li a p{color:#636363;text-align:center;font-size:13px;}
#team-list li a:hover{text-decoration:none;color:#029BC1;}
#team-list li a:hover p{color:#029BC1;}

#team-item{padding:18px;}
#team-item h1{font-weight:normal;color:#333333;text-align:center;font-size:13px;}
#team-item-content{color:#636363;padding:18px 0;}

#masonry{padding:19px 12px;}
.case-item{margin:0 8px 2px 8px;width:203px;float:left;border-bottom:5px solid #ededed;}
.case-item img{display:block;}