@CHARSET "UTF-8";
@font-face {font-family:'FontAwesome';src:url('../../assets/fonts/fontawesome-webfont.eot?v=4.0.3');src:url('../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../assets/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../assets/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../assets/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none;margin:0;outline:0 none;padding:0;}
article,aside,div,dt,figcaption,footer,form,header,hgroup,html,map,nav,section{display:block;}
ul,ul li{list-style:none;}
img{border:0;}
table{border-spacing:0;}
body{font:12px/20px Open Sans, Helvetica, Arial, sans-serif;background-color:#fff;color:#686868;}
a{color:#323232;text-decoration:none;transition:all 0.2s linear 0s;}
a:hover{color:#e1472f;text-decoration:none;}
*:focus{outline:none;}
*{box-sizing: border-box}
h6{font-size:13px;line-height:20px;margin-bottom:20px;font-weight:600;}

.cb{clear:both;}
.cf,.box{zoom:1;clear:left;} 
.cf:before,.cf:after,.box:before,.box:after{content:"";display:table;}
.cf:after,.box:after{clear: both;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}

[class^="btn-"],[class*=" btn-"]{height:31px;line-height:31px;display:inline-block;padding:0 15px;color:#ffffff;border-radius:2px;text-align:center;}
[class^="btn-"]:hover,[class*=" btn-"]:hover{color:#ffffff;}
.btn-blue{background-color:#e1472f;}
.btn-blue:hover{background-color:#3BB9EC;}
.btn-red{background-color:#da3333;}
.btn-red:hover{background-color:#e04145;}
.btn-sm{height:30px;line-height:30px;font-size:12px;padding:0 11px;}

.fc-red{color:#e1472f;}

.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}

/* box 用于主栏目 */
.box{margin-top:60px;clear:both;}
.box-title{margin-bottom:20px;height:32px;padding-bottom:7px;border-bottom:1px solid #efefef;}
.box-title h2{font-size:13px;font-weight:600;float:left;height:26px;line-height:26px;background:#f7f7f7;padding:0 10px;text-transform:uppercase;}
.box-title .more-link{float:right;line-height:26px;}

/* widget 用于侧边栏 */
.widget{margin-bottom:55px;}
.widget h3{text-transform:uppercase;font-size:13px;font-weight:600;margin-bottom:20px;line-height:24px;color:#444;}
.widget.posts h5{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.widget.posts h5 a{color:#444;font-size:13px;}
.widget.posts li{overflow:hidden;border-bottom:1px solid #efefef;margin-bottom:15px;padding-bottom:15px;}
.widget.posts li:last-child{border-bottom:0 none;}
.widget.categories li{font-size:12px;padding:3px 0;}


/* 整体布局 */
.centered-wrapper{width:auto;max-width:1120px;padding:0 20px;margin:0 auto;position:relative;}

/* 首页轮播图 */
.jq-camera-container .camera_prev,.jq-camera-container .camera_next{background-color:#393939;}
.jq-camera-container .camera_prev:hover,.jq-camera-container .camera_next:hover{background-color:#e1472f;}
.jq-camera-container .camera_azure_skin .camera_prev > span{background-position:0 -121px;}
.jq-camera-container .camera_azure_skin .camera_next > span{background-position:-40px -121px;}

/* 页码条 */
.pagination{text-align:center;height:40px;line-height:40px;background-color:#ffffff;margin-top:40px;}
.pagination .page-numbers{display:inline-block;padding:0 16px;}
.pagination a.page-numbers:hover,.pagination .page-numbers.crt{background-color:#e1472f;color:#ffffff;}
.pagination .page-numbers.dots{font-family:Lato,sans-serif;}
.pagination .prev,.pagination .next{font-family:sans-serif;}

/* 页面顶部 */
.g-top{background:#252525;height:50px;}
@media screen and (max-width:995px){
	.g-top .centered-wrapper{padding-left:0;padding-right:0;}
}
.top-nav li{float:left;}
.top-nav li a{display:block;font-size:16px;color:#fff;height:50px;line-height:50px;}
.top-nav li a:before{content:"|";padding:0 16px;}
.top-nav li:first-child a:before{content:none;}
.top-nav li.phone-container{margin-left:20px;}
.top-nav li .phone-number{background-color:#B11A2B;display:block;padding:0 16px;height:50px;line-height:50px;color:#fff;float:left;font-size:28px;overflow:hidden;}
.top-nav li .phone{width:60px;height:50px;display:block;background:url(images/phone.png);float:right;cursor:pointer;}
@media screen and (max-width:350px){
	.top-nav ul li:last-child{display:none;}
}

.g-nav{border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;}
.g-nav ul{border-left:1px solid #c8c8c8;}
.g-nav ul li a{display:block;float:left;width:12.5%;text-align:center;height:48px;line-height:48px;font-size:16px;color:#6e6e6e;border-right:1px solid #c8c8c8;box-sizing:border-box;}
.g-nav ul li a.crt{color:#e1472f;}
@media screen and (max-width:1080px){
	.g-nav .container{margin-left:0;margin-right:0;}
	.g-nav ul li a{width:25%;}
	.g-nav ul li a{border-bottom:1px solid #c8c8c8;margin-bottom:-1px;}
}

.select-menu{display:none;color:#999;border:1px solid #c3c3c3;clear:both;margin:5px auto;padding:5px 10px;width:240px;position:relative;}
@media only screen and (max-width: 400px) {
	.g-nav{display:none;}
	.select-menu{display:block;}
}

.g-search{margin:30px 0;}
.g-search h4{text-align:center;font-size:16px;color:#6e6e6e;font-weight:normal;margin-bottom:12px;}
#search-form{text-align:center;}
#search-form input{display:inline-block;width:192px;height:34px;border:1px solid #c3c3c3;border-right:0 none;vertical-align:top;padding-left:8px;}
#search-form-submit{display:inline-block;background:url(images/search.png);width:40px;height:34px;}

/* 页脚 */
.g-ft{border-top:5px solid #e1472f;background-color:#323232;padding-top:51px;position:relative;margin-top:60px;}
.g-ft a{color:#fff;}
.g-ft a:hover{color:#e1472f;}
.g-ft h3{color:#fff;font-size:16px;font-weight:300;margin:20px 0 10px;}
.g-ft .ft-left{width:39%;float:left;}
.g-ft .ft-right{width:61%;float:right;}
.g-ft .m-about{color:#a5a5a5;line-height:1.7em;}
.g-ft .m-contact{width:33.3333%;float:left;color:#a5a5a5;}
.g-ft .m-about,.g-ft .m-contact{box-sizing:border-box;padding-right:20px;}
.g-fcp{height:43px;line-height:43px;color:#a5a5a5;background-color:#252525;margin-top:115px;}
.g-fcp .tip{float:right;}
@media only screen and (max-width: 400px) {
	.g-ft .ft-left,.g-ft .ft-right,.g-ft .m-contact{width:100%;}
	.g-fcp .tip{display:none;}
}
@media only screen and (max-width: 995px) {
	.g-ft .m-contact{width:50%;}
}

.g-mn{width:70.536%;float:left;}
.g-sd{width:26.78%;float:right;}
@media only screen and (max-width: 995px) {
.g-mn{width:100%;float:none;}
.g-sd{width:100%;float:none;}
}

.page-title h1{font-size:36px;line-height:44px;font-weight:300;margin-bottom:18px;}
.meta{border-bottom:1px dotted #c3c3c3;display:block;float:left;margin-bottom:18px;padding-bottom:18px;font-size:11px;}

span.hover-image{width:41px;height:41px;top:50%;left:50%;margin-left:-20px;margin-top:-20px;position:absolute;display:block;opacity:0;filter:alpha(opacity=0);background:#e1472f url(images/lightbox.png) no-repeat scroll center center;transition:all 0.2s linear 0s;}
span.item-on-hover{cursor:pointer;display:block;opacity:0;filter:alpha(opacity=0);position:absolute;width:100%;height:100%;background:url(images/item-on-hover.png) repeat;transition:all 0.2s linear 0s;}
a:hover span.item-on-hover{opacity:1;}
a:hover span.hover-image{opacity:1;}

/* 产品横向4个列表 */
.products-carousel{margin-left:-20px;}
.products-carousel li{float:left;width:25%;padding-left:20px;margin-bottom:20px;text-align:center;}
.products-carousel li img{display:block;width:100%;height:auto;}
.products-carousel li a{display:block;width:100%;height:auto;position:relative;color:#323232;}
.products-carousel li a:hover{color:#e1472f;}
.products-carousel li h3{text-transform:uppercase;font-size:12px;font-weight:600;padding:20px 0 2px;margin:0;}
.products-carousel li h3 a{color:#323232;display:block;}
.products-carousel li .products-carousel-details{border-left:1px solid #efefef;border-right:1px solid #efefef;height:80px;border-bottom:2px solid #323232;}
.products-carousel li:hover .products-carousel-details{background-color:#fafafa;}
@media only screen and (max-width: 995px) {
	.products-carousel li{width:33.3333%;}
}
@media only screen and (max-width: 600px) {
.products-carousel li{width:50%;}
}
@media only screen and (max-width: 400px) {
	.products-carousel li{width:100%;}
	.products-carousel li img{width:100%;height:auto;}
}

.posts-carousel{margin-left:-20px;}
.posts-carousel li{width:50%;float:left;padding-left:20px;margin-bottom:20px;}
.posts-carousel li > a{display:block;position:relative;float:left;}
.posts-carousel li > a:hover span.item-on-hover{opacity:1;}
.posts-carousel li img{display:block;width:220px;height:auto;}
.posts-carousel li .posts-carousel-details{text-align:left;margin-left:240px;}
.posts-carousel li .posts-carousel-details h2{font-size:18px;font-weight:600;line-height:27px;margin-bottom:13px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.posts-carousel .carousel-meta .details{padding:0 10px;height:21px;background:#f5f5f5;font-size:11px;line-height:21px;display:inline-block;color:#a1a1a1;}
.posts-carousel .carousel-meta .details .views{color:#323232;}
.posts-carousel li .posts-carousel-details p{margin:18px 0 0;height:63px;overflow:hidden;}
.posts-carousel .post-format i{width:21px !important;height:21px;display:block;float:left;position:relative;color:#fff;line-height:21px;background:#e1472f;text-align:center;}
@media only screen and (min-width: 1281px){
	.posts-carousel li img{width:265px;}
	.posts-carousel li .posts-carousel-details{margin-left:285px;}
	.posts-carousel li .posts-carousel-details p{height:102px;}
}
@media only screen and (max-width: 995px) {
	.posts-carousel li > a{float:none;}
	.posts-carousel li{width:33.3333%;}
	.posts-carousel li img{width:100%;height:auto;}
	.posts-carousel li .posts-carousel-details{padding-top:10px;margin-left:0;height:170px;}
}
@media only screen and (max-width: 720px) {
	.posts-carousel li > a{float:left;}
	.posts-carousel li{width:100%;}
	.posts-carousel li img{width:260px;height:auto;}
	.posts-carousel li .posts-carousel-details{margin-left:280px;}
}
@media only screen and (max-width: 500px) {
	.posts-carousel li{width:100%;}
	.posts-carousel li > a{float:none;}
	.posts-carousel li img{width:100%;height:auto;}
	.posts-carousel li .posts-carousel-details{margin-top:10px;width:auto;margin-left:0}
}

.post-list article{margin-bottom:50px;padding-bottom:20px;border-bottom:2px solid #323232;overflow:hidden;position:relative;}
.post-list article h1{font-size:28px;line-height:36px;margin-bottom:13px;}
.post-list article h1 a{color:#323232;}
.post-list article .post-meta{height:30px;line-height:30px;border-bottom:1px dotted #c3c3c3;display:block;float:left;margin-bottom:18px;text-transform:uppercase;font-size:11px;position:relative;}
.post-list article .thumbnail{float:left;margin-right:20px;}

.post-gallery{margin-left:-20px;}
.post-gallery li{float:left;display:block;width:25%;padding-left:20px;}
.post-gallery li a{display:block;position:relative;width:100%;}
.post-gallery li img{width:100%;display:block;}