body{font-family:"黑体";background-color:#fff;font-size:14px}

.fc-grey{color:#888889 !important;}
.btn{padding:8px 24px}
.btn-red{color:#fff;background-color:#E50012}

.top-return-link{color:#fff;font-size:22px;margin-right:8px;vertical-align:text-bottom}

/* 分页条 */
.pager{text-align:center;padding-top:1.3571em}
.pager a,.pager span{display:inline-block;width:2.5em;height:2.5em;margin:0 4px 4px 0;text-align:center;font-size:1em;line-height:2.4em}
.pager a{background-color:#fff;color:#777}
.pager span.current,.pager a:hover{background-color:#BC825C;color:#fff}
.pager .prev:before,.pager .next:before{font-family:"fontello"}
.pager .prev:before{content:"\f104"}
.pager .next:before{content:"\f105"}

.page-header{background-color:#008CD6;color:#fff}
.header-content{width:280px;margin:0 auto;padding:20px 0 15px}
.header-content div{float:left}
.header-logo{margin-right:5px;}
.header-logo img{width:30px;height:30px;vertical-align:bottom}
.header-title{font-size:30px;}

.messages{padding:0 20px;margin:20px 0 40px}
.messages a.message-item{margin-bottom:20px;display:block}
.messages .author{color:#CD8F56;margin-bottom:2px}
.messages .author .time{margin-left:6px}
.messages .reply{color:#CD8F56;margin-bottom:2px}
.messages .author,.messages .reply{font-size:12px}
.messages .content{margin-bottom:5px;padding:5px;border:1px solid #C3BFBA;background-color:#fff;color:#000}
.messages .reply-content{padding:5px;border:1px solid #C3BFBA;background-color:#fff;color:#000}

.messages2{margin:0 6px}
.messages2 a.message-item{border-bottom:2px solid #DCDCDD;padding:10px 4px;color:#231915;display:block;}
.messages2 .thumbnail{float:left;width:60px;text-align:center;padding-top:10px}
.messages2 .thumbnail img{width:30px}
.messages2 .author{margin-bottom:12px}

.reply-container{padding:0 50px;margin-top:40px}
.reply-container fieldset{margin-bottom:10px;padding-top:10px;border-top:2px solid #A39E9B}
.reply-container label{color:#CD8F56;font-size:16px;float:left;width:65px;margin-top:2px}
.reply-container fieldset input{background-color:#fff;width:150px;border:0 none;padding:2px;color:grey}
.reply-container #reply-form textarea{width:100%;height:200px;padding:8px 12px;font-size:12px;line-height:1.3}
.reply-container .submit-container{margin-top:30px;text-align:center}
.reply-container #reply-form-submit{background-color:#DA251C;color:#fff;font-size:18px;padding:6px 30px;text-align:center}

.bingjian-nav{border-bottom:4px solid #DCDCDD;padding:16px 3px;margin:0 6px}
.bingjian-nav li{display:inline-block;width:18%;text-align:center;}
.bingjian-nav li a{color:#3E3938}
.bingjian-nav li a.crt{color:#E50012}

#message-form{margin:30px 30px}
#message-form th,#message-form td{color:#008CD6;padding:10px 0}
#message-form th{padding-right:8px}
#message-form textarea,#message-form input{border:1px solid #008CD6;width:100%;line-height:1.4}
#message-form input{height:26px}
#message-form textarea{height:150px;padding:8px 16px}

.message-content h1{text-align:center;font-size:24px;margin:20px 0 10px}
.message-content .content{margin:0 20px}
.message-content .content p{text-indent:2em;line-height:1.5}
.message-content .reply{margin:30px 20px}