@CHARSET "UTF-8";
.swiper-slide{background:url(../images/recruit/bg.jpg) no-repeat center center transparent;background-size:cover}
.brand{right:28px;top:50px;width:26px}
.dadao{width:45px;height:382px;left:50%;top:50%;margin-left:-30px;margin-top:-196px}
.title{width:20px;height:168px;left:50%;top:50%;margin-left:10px;margin-top:-25px}
.description{bottom:23px;left:50%;margin-left:-40%;width:80%}
.description p{text-align:left;font-size:12px;line-height:1.5}
.btn-1{color:#280E04;font-size:20px;background-image:url(../images/recruit/btn-bg.jpg);background-size:100% 100%;padding:8px 25px;display:inline-block}

fieldset{margin-bottom:12px;}
fieldset .field-container{width:70%;display:inline-block;text-align:left;}
fieldset .field-container .captcha{width:auto;height:30px;display:inline-block;vertical-align:bottom;margin-left:7%}
fieldset .form-control{background-color:#CFB679;border:0 none;padding:8px 7px;font-size:12px;width:100%;display:inline-block;color:#717070}
fieldset .form-control.short{width:50%}
fieldset label{color:#231915;font-size:14px;display:inline-block;width:57px;min-width:48px;padding-top:7px;text-align:right;}
fieldset p{color:#717070;font-size:12px;margin-top:7px;line-height:1.5;width:70%;margin-left:29%;text-align:left}
fieldset .form-control.ib{display:inline-block;width:auto}

#recruit-1{background:url(../images/recruit/index.jpg) no-repeat center center transparent;background-size:cover}

#recruit-2 .text{width:230px;left:50%;top:50%;margin-left:-115px;margin-top:-186px}
#recruit-3 .steps{height:240px;width:300px;left:50%;top:50%;margin-left:-150px;margin-top:-120px}
#recruit-3 .steps img{width:43px}

#recruit-4 .description{width:254px;margin-left:-127px}

#recruit-5 .zhaomuling{left:50%;top:17px;margin-left:-65px}
#recruit-5 .zhaomuling-text{width:65%;left:50%;bottom:20px;margin-left:-33%;max-width:280px}
@media screen and (min-width:430px){
    #recruit-5 .zhaomuling-text{margin-left:-150px}
}

#recruit-6 .yi{left:50%;top:25px;margin-left:-44px}
#recruit-6 .yi-text{width:86%;left:50%;bottom:25px;margin-left:-43%;max-width:300px}
@media screen and (min-width:348px){
    #recruit-6 .yi-text{margin-left:-160px}
}

#recruit-8 .guangong{width:70%;left:50%;top:50%;transform:translate(-50%, -67%);max-width:420px}
#recruit-8 .bai-ni-ma-bi-steps{height:240px;width:240px;left:50%;top:50%;margin-left:-135px;margin-top:27px}
#recruit-8 .bai-ni-ma-bi-steps a{margin:0 12px;visibility:hidden}
#recruit-8 .bai-ni-ma-bi-steps img{width:43px}
#recruit-8 .jiangjunshengping{height:93px;width:30px;left:50%;top:50%;margin-left:104px;margin-top:171px}
#shengping-dialog .dialog-content{background:url(../images/recruit/juanzhou-kai.png) no-repeat center center transparent;background-size:100% 100%;padding:60px 38px}
#shengping-dialog .dialog-content img{width:100%}

#recruit-32 .to-login,#recruit-32 .military{left:50%;top:50%;margin-left:-52px;margin-top:-23px;}
#recruit-32 .to-login a,#recruit-32 .military a{background-color:#926931;font-size:16px;color:#231916;padding:15px 20px}
#recruit-32 .register-form{width:80%;max-width:320px;left:50%;margin-left:-40%;top:50%;margin-top:-215px}
#recruit-32 .register-form .form-control.ib{margin-right:2px;width:32%}
#recruit-32 .avatar-container{text-align:center;margin-bottom:30px}
#recruit-32 .avatar-container img{border-radius:50%;width:100px;height:100px;}
.submit-container{bottom:60px;text-align:center;left:50%;margin-left:-52px}
.submit-link{background-color:#926931;font-size:16px;color:#231916;padding:15px 20px}

#recruit-42 .guangongdianbing{width:168px;top:75px;left:50%;margin-left:-84px}
#recruit-42 .button{bottom:60px;left:50%;margin-left:-65px}
#jiangjunmiling-dialog .dialog-content{background:url(../images/recruit/juanzhou-kai.png) no-repeat center center transparent;background-size:100% 100%;padding:73px 51px;text-align:center}
#jiangjunmiling-dialog .dialog-content .yinzhang-text{width:100%;margin-bottom:15px}
#jiangjunmiling-dialog .dialog-content .yinzhang{width:67px}