@CHARSET "UTF-8";
html, body{position:relative;height:100%;font-family:"黑体"}
a{text-decoration:none}
.swiper-container{width:100%;height:100%}
.swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.swiper-slide{background-size:100% 100%;background-repeat:no-repeat;background-position:center center}

.layer{position:absolute}
.layer img{width:100%;height:100%}

/* toast */
.toast-container{position:fixed;z-index:999999;bottom:80px;width:66%;margin-left:-33%;left:50%}
.toast-container > div.toast{padding:12px 15px;text-align:center;margin-bottom:10px;color:#fff}
.toast-warning,.toast-info,.toast-success,.toast-error,.toast-alert{background-color:rgba(0,0,0,0.7)}