@CHARSET "UTF-8";
html, body{position:relative;height:100%;font-family:"黑体"}
a{text-decoration:none}
.swiper-container{width:100%;height:100%}
.swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.swiper-slide{background-size:100% 100%;background-repeat:no-repeat;background-position:center center}

.layer{position:absolute}
.layer img{width:100%;height:100%}

body #fancybox-close{background:none;font-size:38px;text-align:center;font-weight:bold;top:29px;right:2px}
body #fancybox-close:before{content:"×";color:#585756}
body #fancybox-close:hover:before{color:#373e4a}

/* toast */
.toast-container{position:fixed;z-index:999999;bottom:80px;width:66%;margin-left:-33%;left:50%}
.toast-container > div.toast{padding:12px 15px;text-align:center;margin-bottom:10px;color:#fff}
.toast-warning,.toast-info,.toast-success,.toast-error,.toast-alert{background-color:rgba(0,0,0,0.7)}

#fancybox-wrap #fancybox-outer{background-color:transparent}
#fancybox-wrap #fancybox-outer .fancybox-bg{background:none}

.fn-block{position:absolute;top:0;left:0;width:100%;height:100%;cursor:wait;z-index:500;background:url(images/bgblackp10.png) repeat scroll 0 0 transparent}
.fn-block-loading-img{position:absolute;top:50%;left:50%;margin:-22px 0 0 -22px;z-index:501;cursor:wait}

#audio_btn{position:absolute;right:10px;top:10px;z-index:200;display:none;width:50px;height:50px;background-repeat:no-repeat;}
.loading_background{background-image:url(images/music_loading.gif);background-size:30px 30px;opacity:0.5;background-position:center center;}
.loading_yinfu{position:absolute;left:10px;top:10px;width:30px;height:30px;background-image:url(images/yinfu.png);background-repeat:no-repeat;background-position:center center;}
.play_yinfu{background-image:url(images/music.gif);background-repeat:no-repeat;background-position:center center;background-size:60px 60px;}
#yinfu{position:absolute;left:10px;top:10px;width:30px;height:30px;background-size:100% 100%;background-image:url(images/music_off.png);}
.rotate{-webkit-animation:rotating 1.2s linear infinite;-moz-animation:rotating 1.2s linear infinite;-o-animation:rotating 1.2s linear infinite;animation:rotating 1.2s linear infinite;}
@-webkit-keyframes rotating{from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@keyframes rotating{from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
@-moz-keyframes rotating{from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
.off{background-image:url(images/music_off.png);background-size:30px 30px; background-repeat:no-repeat;background-position:center center;}

#rank-dialog{background-image:url(../images/arm/caozhi-bg.png);background-size:100% 100%}
#rank-dialog .yin{margin-bottom:20px;text-align:center}
#rank-dialog .rank-description img{width:230px;max-width:100%}

#attendance-dialog{text-align:center;background-image:url(../images/arm/caozhi-bg.png);background-size:100% 100%;padding:20px 0}
#attendance-dialog .nickname,#attendance-dialog .sign-up-days{margin-bottom:14px}
#attendance-dialog .attendance-count{margin-bottom:35px}