@CHARSET "UTF-8";
@font-face {font-family:'Architext';src:url('../../fonts/Architext.eot');src:url('../../fonts/Architext.eot') format('embedded-opentype'), url('../../fonts/Architext.woff') format('woff'), url('../../fonts/Architext.ttf') format('truetype'), url('../../fonts/Architext.svg') format('svg');font-weight:normal;font-style:normal}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none;margin:0;outline:0 none;padding:0}
article,aside,div,dt,figcaption,footer,form,header,hgroup,html,map,nav,section{display:block}
html,body{height:100%;overflow:hidden}
body{background-color:#171D25;font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti}

a{color:#00bff3}
.hide{display:none}

/*旋转*/
@keyframes spin{0%{transform:rotateZ(0)}100%{transform:rotateZ(360deg)}}

/*转3圈*/
@keyframes spin3{0%{transform:rotateZ(0)}100%{transform:rotateZ(1080deg)}}

/*逐渐增大*/
@keyframes grow{0%{transform:scale(0)}100%{transform:scale(1)}}

/*逐渐缩小*/
@keyframes decrease{0%{transform:scale(1)}100%{transform:scale(0)}}

/*逐渐出现*/
@keyframes fadein{0%{opacity:0}100%{opacity:1}}

/*顺时针旋转120度*/
@keyframes deg120{100%{transform:rotateZ(120deg)}}

/*顺时针旋转0度*/
@keyframes deg0{100%{transform:rotateZ(0)}}

/*顺时针旋转-120度*/
@keyframes deg-120{100%{transform:rotateZ(-120deg)}}

/*顺时针旋转240度*/
@keyframes deg240{100%{transform:rotateZ(240deg)}}

/*从右往左移*/
@keyframes right-to-left{0%{transform:translate(100px)}100%{transform:translate(0)}}

/*抖动*/
@keyframes shake{0%{transform:translate(0, 0)}
5%{transform:translate(10px, 0)}
15%{transform:translate(-15px, 0)}
25%{transform:translate(15px, 0)}
35%{transform:translate(-15px, 0)}
45%{transform:translate(15px, 0)}
55%{transform:translate(-15px, 0)}
65%{transform:translate(15px, 0)}
75%{transform:translate(-15px, 0)}
85%{transform:translate(15px, 0)}
95%{transform:translate(-10px, 0)}
100%{transform:translate(0, 0)}}

.main .shake{animation:shake 700ms}
.main .right-to-left{animation:right-to-left 1s}
.main{opacity:0;opacity:1\9\0;animation:fadein 400ms forwards}
.left{width:500px;float:left;position:relative;height:100%}
.rings{animation:fadein 3s}
.login-form-container{animation:fadein 3s}
.contents{animation:fadein 4s}
.items{animation:spin 1500ms backwards}
.item-1 .big-circle,.item-1 .small-circle{animation:spin3 1500ms}

.browser{animation:deg120 1s forwards}
/*把文字转正*/
.browser .item-1 .preview .text{animation:deg-120 1s forwards}
.browser .item-2 .act .text{animation:deg-120 1s forwards}
.browser .item-3 .preview .text{animation:deg-120 1s forwards}
/*显示与隐藏圆圈*/
.browser .item-2 .act{animation:grow 1s}
.browser .item-2 .preview,.browser .item-1 .act,.browser .item-3 .act{animation:decrease 2s}

.time{animation:deg0 1s forwards}
/*把文字转正*/
.time .item-2 .text{animation:deg0 1s forwards}
.time .item-3 .text{animation:deg0 1s forwards}
/*显示与隐藏圆圈*/
.time .item-1 .act{animation:grow 1s}
.time .item-1 .preview,.time .item-2 .act,.time .item-3 .act{animation:decrease 2s}

.copyright{animation:deg240 1s forwards}
/*把文字转正*/
.copyright .item-3 .act .text{animation:deg120 1s forwards}
.copyright .item-1 .preview .text{animation:deg120 1s forwards}
.copyright .item-2 .text{animation:deg120 1s forwards}
/*显示与隐藏圆圈*/
.copyright .item-3 .act{animation:grow 1s}
.copyright .item-3 .preview,.copyright .item-1 .act,.copyright .item-2 .act{animation:decrease 2s}

.circle{border-radius:50%}
.bl{display:block}
.main{width:1000px;margin:0 auto;height:100%}

.rings .ring{width:470px;height:470px;position:absolute;left:50%;top:50%;margin-top:-235px;margin-left:-235px;animation:spin 60s linear infinite;background-repeat:no-repeat;background-position:center center;background-color:transparent}
.rings .ring-2,.rings .ring-3{animation-direction:reverse}
.rings .ring-0{background-image:url(images/0.png)}
.rings .ring-1{background-image:url(images/1.png)}
.rings .ring-2{background-image:url(images/2.png)}
.rings .ring-3{background-image:url(images/3.png)}

.items{width:500px;height:500px;position:relative;top:50%;margin-top:-250px}
.items .act .text{display:block}
.items .circle{position:absolute;background-color:#171d25}
.items .circle .the-circle{position:absolute;background-color:#14bfff;transition-delay:70ms;transition:all 330ms ease-out;z-index:0;opacity:0.95}
.items .circle strong,.items .circle small{text-align:center;width:100%;display:block;z-index:2;position:relative;font-weight:normal}
.items .big-circle{width:160px;height:160px;top:-30px;left:-30px}
.items .big-circle .the-circle{width:130px;height:130px;top:15px;left:15px}
.items strong{margin-top:58px;color:#111;font-size:22px}
.items small{color:#fff;font-size:15px}
.items .small-circle strong{font-size:18px;margin-top:13px}
.items .small-circle small{font-size:13px}
.items .small-circle .the-circle{width:50px;height:50px;top:7px;left:7px}
.items .small-circle{width:64px;height:64px}
.items .circle:hover .the-circle{transform:scale(1.08);opacity:1}

.items .item-1,.items .item-2,.items .item-3{position:absolute;animation:grow 2s}
.items .preview{cursor:pointer}
.items .item-1{top:50%;margin-top:-283px;left:50%;margin-left:-80px;width:160px;height:160px;transition:all 200ms ease 200ms;z-index:12}
.items .item-1 .big-circle{top:26px;left:-30px}
.items .item-1 .big-circle strong{font-size:32px;margin-top:42px}
.items .item-1 .big-circle small{font-size:30px}
.items .item-1 .s1{top:37px;left:123px}
.items .item-1 .s2{top:113px;left:115px}
.items .item-1 .preview .middle-circle{top:44px;left:30px}

.items .item-2{top:50%;margin-top:51px;left:50%;margin-left:-210px;z-index:1}
.items .item-3{top:50%;margin-top:51px;left:50%;margin-left:110px;z-index:1}

.items .preview .middle-circle{width:100px;height:100px;background-color:#171d25}
.items .preview .middle-circle .the-circle{background-color:#2a3340;width:80px;height:80px;top:10px;left:10px;position:absolute}
.items .preview .middle-circle .text{position: absolute;width:100%;top:28px;text-align:center;color:#677a95}
.items .preview .middle-circle:hover .text{color:#14bfff}

.contents p{margin-bottom:6px}
.contents .content-1{position:absolute;top:50%;left:50%;margin-top:-36px;margin-left:-110px;color:#fff;font-size:55px}
.contents .content-2{position:absolute;top:50%;left:50%;margin-top:-65px;margin-left:-119px;color:#fff;text-align:center;width:238px;font-size:18px}
.contents .content-3{position:absolute;top:50%;left:50%;margin-top:-51px;margin-left:-119px;color:#fff;text-align:center;width:238px;font-size:18px}

.right{float:right;position:relative;top:50%;margin-top:-190px}
.right .error-msg{color:red;margin-bottom:10px}
.right .login-form-container{border:1px solid rgba(0,0,0,.2);border-radius:5px;background-color:#1D242E;box-shadow:1px 2px 12px rgba(0,0,0,0.32);padding:30px;width:343px;height:303px}
.right .input-container{border:1px solid #777B81;padding:12px 0 12px 45px;background-repeat:no-repeat;background-position:13px 15px}
.right .input-container.username{background-image:url(images/user.png);border-radius:5px 5px 0 0}
.right .input-container.password{background-image:url(images/lock.png);border-radius:0 0 5px 5px;margin-bottom:28px;margin-top:-1px}
.right .input-container input{border:0 none;outline:none;background-color:transparent;color:#fff;font-size:18px;width:268px}
.right .input-container.active{background-color:rgba(0, 0, 0, 0.2);box-shadow:0 0 3px 1px rgba(255,255,255,.5)}
.right .logo{font-family:Architext;font-size:55px;margin-bottom:21px;font-weight:normal;color:#fff;text-align:center;height:55px}
#login-form-submit{display:block;background-color:#2196FF;text-align:center;padding:12px 0;font-size:18px;color:#fff;text-decoration:none;transition:all 0.2s linear 0s}
#login-form-submit:hover{background-color:#1E87EF}

/* 小屏幕不显示左侧滚轮 */
@media screen and (max-width:1140px){
    .left{display:none}
    .right{float:none;margin-left:-203px;left:50%}
    .right .login-form-container{width:100%;max-width:343px}
    .main{width:100%}
}

.user-info{margin:40px 0 30px}
.user-info .user-avatar{float:left;padding-left:20px}
.user-info .user-avatar img{border-radius:50%;box-shadow:0 0 0 6px rgba(255, 255, 255, 0.05)}
.user-info .user-profile{color:#fff;margin-left:160px;padding-top:20px}
.user-info .user-profile .logout-link{margin-top:15px;display:block;color:rgba(152,175,197,0.7)}