@CHARSET "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none;margin:0;outline:0 none;padding:0;}
article,aside,div,dt,figcaption,footer,form,header,hgroup,html,map,nav,section{display:block;}
ul,ul li{list-style:none;}
img{border:0;}
body{font-family:sans-serif;font:13px/1.5 Arial,tahoma,arial,宋体;}
a{color:#21759B;text-decoration:none;}
a:hover{color:#D54E21;text-decoration:none;}
textarea,input[type="text"],input[type="password"],input[type="file"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="url"],select{border:1px solid #DFDFDF;padding:2px;}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="file"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="url"]:focus,select:focus{border-color:#AAAAAA;box-shadow:1px 1px 2px rgba(0,0,0,0.1);}
.abbr{border-bottom:1px dotted grey;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.color-red{color:red !important;}
.color-green{color:green !important;}
.color-orange{color:orange !important;}
.color-blue{color:#21759B !important;}
.color-grey{color:grey !important;}