@CHARSET "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none;margin:0;outline:0 none;padding:0;}
article,aside,div,dt,figcaption,footer,form,header,hgroup,html,map,nav,section{display:block;}
ul,ul li{list-style:none;}
ul li.disc{list-style:disc !important;}
img{border:0;}
html,body{height:100%;}
body{font-family:sans-serif;font:13px/1.5 Arial,tahoma,arial,宋体;background-color:#FFFFFF;}
a{color:#21759B;text-decoration:none;transition:all 0.2s linear 0s;}
a:hover{color:#D54E21;text-decoration:none;}
textarea,input[type="text"],input[type="password"],input[type="file"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="url"],select{border:1px solid #DFDFDF;padding:3px;border-radius:3px;font-size:13px;}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="file"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="url"]:focus,select:focus{border-color:#AAAAAA;box-shadow:1px 1px 2px rgba(0,0,0,0.1);}
table{border-spacing:0;}
.abbr{border-bottom:1px dotted grey;}
.circle{border-radius:50%;}
.clear{clear:both;}
.clearfix{zoom:1;clear:left;} 
.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear: both;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}
.fc-red{color:red !important;}
.fc-green{color:green !important;}
.fc-orange{color:orange !important;}
.color-blue{color:#21759B !important;}
.fc-grey{color:grey !important;}
.chk-box{display:inline-block;}
.bold{font-weight:bold !important;}
.normal{font-weight:normal;}
.pointer{cursor:pointer;}
.require{color:red;margin:0 3px;}
.bg-red,.bg-grey,.bg-yellow,.bg-green{color:#FFFFFF !important;transition:all 0.5s linear 0s;}
.bg-red{background-color:#E1472F !important;}
.bg-red:hover{background-color:#D44029 !important;}
.bg-grey{background-color:#787878 !important;}
.bg-grey:hover{background-color:#444444 !important;}
.bg-light-grey{background-color:#EAEAEA !important;}
.bg-light-grey:hover{background-color:#D2D2D2 !important;}
.bg-yellow{background-color:#FFB141 !important;}
.bg-yellow:hover{background-color:#FD9602 !important;}
.bg-green{background-color:#9DD30B !important;}
.bg-green:hover{background-color:#8DBD0A !important;}
.title-sup{padding:1px 3px;font-weight:normal;}
.full-width{width:98%;}
.ellipsis{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.w20{width:20px;}
.w30{width:30px;}
.w35{width:35px;}
.w50{width:50px;}
.w70{width:70px;}
.w90{width:90px;}
.w300{width:300px;}
.w200{width:200px;}
.w240{width:240px;}
.w100{width:100px}
.w150{width:150px;}
.w400{width:400px;}
.w510{width:510px;}
.wp7{width:7%;}
.wp11{width:11%;}
.wp10{width:10%;}
.wp15{width:15%;}
.wp30{width:30%;}
.wp35{width:35%;}
.wp38{width:38%;}
.wp45{width:45%;}
.wp90{width:90%;}
.wp99{width:99%;}
.h40{height:30px;}
.h60{height:60px;}
.h90{height:90px;}
.h200{height:200px;}
.h350{height:350px;}
.p5{padding:5px;}
.p10{padding:10px;}
.pl10{padding-left:10px;}
.plr{padding:0 10px;}
.pb0{padding-bottom:0 !important;}
.pt0{padding-top:0 !important;}
.margin-10{margin:10px;}
.mt0{margin-top:0 !important;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mb10{margin-bottom:10px;}
.mb5{margin-bottom:5px}
.mr10{margin-right:10px;}
.ml5{margin-left:5px;}
.block{display:block;}
.time{white-space:nowrap;}
.division-h3{margin:14px 3px;}
.submit-loading{margin-left:6px;vertical-align:middle;}

.box{background-color:#F5F5F5;background:linear-gradient(to top,#F5F5F5,#F9F9F9) repeat scroll 0 0 #F5F5F5;border-radius:3px 3px 3px 3px;box-shadow:0 1px 0 #FFFFFF inset;border:1px solid #DFDFDF;margin-bottom:20px;position:relative;}
.box-title{background:url("images/gray-grad.png") repeat-x scroll left top #DFDFDF;box-shadow:0 1px 0 #FFFFFF;text-shadow:0 1px 0 #FFFFFF;cursor:pointer;}
.box-title h4{font-size:15px;font-weight:normal;margin:0;padding:2px 10px;}
.box-title .tools{cursor:pointer;float:right;height:30px;width:27px;}
.box-title.hover .toggle{background:url("images/arrows.png") no-repeat scroll 6px 7px transparent;}
.box.closed .box-title.hover .handlediv{background-position:6px -65px;}
.box-content{padding:10px;}
.box-content .misc-pub-section{padding:6px 10px 8px;border-top:1px solid #DFDFDF;margin-top:6px;}
.box.closed .box-content{display:none;}

.fn-block{position:absolute;top:0;left:0;width:100%;height:100%;cursor:wait;z-index:500;background:url("images/bgblackp10.png") repeat scroll 0 0 transparent;}
.fn-block-loading-img{position:absolute;top:50%;left:50%;margin:-22px 0 0 -22px;z-index:501;cursor:wait;}

.box-2-title{border-bottom:1px solid #ECECEC;}
.box-2-title h5{color:#8F8F8F;font-size:14px;padding:5px;font-weight:normal;}
.box-2-content{padding:5px;}

.list-table{border-radius:4px 4px 4px 4px;border-spacing:0;border:1px solid #DFDFDF;background-color:#FFFFFF;margin:0;width:100%;font-size:13px;}
.list-table thead th, .list-table tfoot th{background:url("images/gray-grad.png") repeat-x scroll left top #DFDFDF;text-align:left;padding-left:7px;height:32px;}
.list-table tr td{border-bottom:1px solid #DFDFDF;border-top:1px solid #FFFFFF;background-color:#FCFCFC;}
.list-table tr.alternate td{background-color:#F9F9F9;}
.list-table tr.bg-red td{background-color:red;}
.list-table tr td{padding:3px 7px;vertical-align:top;}
.list-table tr .col-date{width:11%;}
.list-table tr .col-checkbox{width:21px;}
.list-table tr .align-center{text-align:center;}
.list-table tr .row-actions{padding-top:3px;visibility:hidden;}
.list-table tr .row-actions a{background:url("images/cut-off-line.png") no-repeat scroll right 2px transparent;padding:0 9px 0 5px;}
.list-table tr .row-actions a:last-child{background:0 none;}
.list-table tr.hover .row-actions,.list-table tr:hover .row-actions{visibility:visible;}
.list-table tr.hover td{background-color:#F5F5F5;}
.list-table .sorting-indicator{background-color:#FF0000;display:block;float:left;height:10px;margin-left:3px;margin-top:4px;width:10px;visibility:hidden;background:url("images/arrows.png") no-repeat scroll -1px -3px transparent;}
.list-table .sortable:hover .sorting-indicator,.list-table .sorted .sorting-indicator{visibility:visible;}
.list-table .asc .sorting-indicator{background-position:-1px -37px;}
.list-table .asc:hover .sorting-indicator{background-position:-1px -3px;}
.list-table .desc .sorting-indicator{background-position:-1px -3px;}
.list-table .desc:hover .sorting-indicator{background-position:-1px -37px;}

.form-table{width:100%;}
.form-table tr th,.form-table tr td{padding:5px 10px;text-align:left;vertical-align:top;font-weight:normal;}
.form-table tr th{width:15%;font-weight:bold;}
.form-table tr td{width:35%;}

.tick-circle,.cross-circle{width:16px;height:16px;display:inline-block;vertical-align:middle;margin-top:-3px;}
.tick-circle{background:url("images/tick-circle.png") no-repeat scroll 0 0 transparent;}
.cross-circle{background:url("images/cross-circle.png") no-repeat scroll 0 0 transparent;}

.btn-1{background-color:#21759B;background-image:linear-gradient(to bottom,#2A95C5,#21759B);border-color:#21759B #21759B #1E6A8D;box-shadow:0 1px 0 rgba(120,200,230,0.5) inset;color:#FFFFFF;text-decoration:none;text-shadow:0 1px 0 rgba(0,0,0,0.1);border-radius:3px 3px 3px 3px;border-style:solid;border-width:1px;cursor:pointer;display:inline-block;padding:3px 10px;text-decoration:none;white-space:nowrap;outline:0 none;}
.btn-1:hover{background-color:#278AB7;background-image:linear-gradient(to bottom,#2E9FD2,#21759B);border-color:#1B607F;box-shadow:0 1px 0 rgba(120,200,230,0.6) inset;text-shadow:0 1px 0 rgba(0,0,0,0.3);color:#FFFFFF;}
.btn-3{background-color:#21759B;background-image:linear-gradient(to bottom,#2A95C5,#21759B);border-color:#21759B #21759B #1E6A8D;box-shadow:0 1px 0 rgba(120,200,230,0.5) inset;color:#FFFFFF;text-decoration:none;text-shadow:0 1px 0 rgba(0,0,0,0.1);border-radius:3px 3px 3px 3px;border-style:solid;border-width:1px;cursor:pointer;display:inline-block;padding:2px 9px;text-decoration:none;white-space:nowrap;outline:0 none;font-size:12px;}
.btn-3:hover{background-color:#278AB7;background-image:linear-gradient(to bottom,#2E9FD2,#21759B);border-color:#1B607F;box-shadow:0 1px 0 rgba(120,200,230,0.6) inset;text-shadow:0 1px 0 rgba(0,0,0,0.3);color:#FFFFFF;}
.btn-2{background-color:#FBFBFB;background-image:linear-gradient(to bottom,#FFFFFF,#E6E6E6);border-color:#B3B3B3;box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);color:#333333;text-decoration:none;text-shadow:0 1px 0 rgba(0,0,0,0.1);border-radius:3px 3px 3px 3px;border-style:solid;border-width:1px;cursor:pointer;display:inline-block;padding:3px 10px;text-decoration:none;white-space:nowrap;outline:0 none;}
.btn-2:hover{background-color:#E6E6E6;background-image:linear-gradient(to bottom,#FFFFFF,#F3F3F3);color:#222222;border-color:#999999;}
.btn-4{background-color:#FBFBFB;background-image:linear-gradient(to bottom,#FFFFFF,#E6E6E6);border-color:#B3B3B3;box-shadow:0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);color:#333333;text-decoration:none;text-shadow:0 1px 0 rgba(0,0,0,0.1);border-radius:3px 3px 3px 3px;border-style:solid;border-width:1px;cursor:pointer;display:inline-block;padding:2px 9px;text-decoration:none;white-space:nowrap;outline:0 none;font-size:12px;}
.btn-4:hover{background-color:#E6E6E6;background-image:linear-gradient(to bottom,#FFFFFF,#F3F3F3);color:#222222;border-color:#999999;}

.notification{margin:7px 15px 7px 0;padding:5px 10px 5px 41px;border-width:1px;border-style:solid;}
.notification.success{background:url("images/tick-circle.png") no-repeat scroll 15px center #D5FFCE;border-color:#9ADF8F;color:#556652;}
.notification.error{background:url("images/cross-circle.png") no-repeat scroll 15px center #FFCECE;border-color:#DF8F8F;color:#665252;}
.notification.attention{background:url("images/exclamation.png") no-repeat scroll 15px center #FFFBCC;border-color:#E6DB55;color:#666452;}
.notification .close{background-image:url("images/cross-small-grey.png");display:block;height:16px;width:16px;overflow:hidden;text-indent:-99999px;float:right;}
.adminbar{background-color:#464646;background:linear-gradient(to top,#373737 0px,#464646 5px) repeat scroll 0 0 #464646;height:28px;}
.adminbar ul li{float:left;position:relative;z-index:1000;}
.adminbar ul li a.item{padding:0 12px;color:#CCCCCC;font:13px/28px sans-serif;text-shadow:0 -1px 0 #444444;display:block;height:28px;line-height:28px;float:left;}
.adminbar-left{float:left;}
.adminbar-left li{border-right:1px solid #555555;}
.adminbar-left li a.item{border-right:1px solid #333333;}
.adminbar-right{float:right;}
.adminbar-right li{border-left:1px solid #555555;}
.adminbar-right li a.item{border-left:1px solid #333333;}
.adminbar .sub-wrapper{background:none repeat scroll 0 0 #FFFFFF;border-color:#DFDFDF;border-style:solid;border-width:0 1px 1px;box-shadow:0 4px 4px rgba(0,0,0,0.2);display:none;position:absolute;z-index:1102;}
.adminbar .sub-wrapper.profile{right:1px;border-right-width:0;padding:8px 8px 8px 18px;width:152px;}
.adminbar .sub-wrapper.profile ul li{border:0 none;float:none;}
.adminbar .sub-wrapper.header-notification-list{right:0;width:290px;padding:9px;}
.adminbar .sub-wrapper li.hover .header-notification-delete{width:16px;height:16px;display:block;float:right;background-image:url("images/cross-small-grey.png");}
.adminbar .sub-wrapper.header-notification-list ul li{border:0 none;float:none;}
.adminbar .sub-wrapper.header-notification-list ul li.header-notification-item{border-bottom: 1px solid #F5F5F5;height:40px;line-height:20px;margin-bottom:7px;padding:7px;}
.adminbar ul li.hover a.item{background-color:#FFFFFF;color:#333333;text-shadow:none;border-left-color:transparent;border-right-color:transparent;}
.adminbar ul li.hover .sub-wrapper{display:block;}
.wrapper{height:auto;min-height:100%;width:100%;position:relative;}
.menuback{background-image:url("images/menu-shadow.png");background-position:right top;background-repeat:repeat-y;background-color:#ECECEC;border-right-color:1px solid #CCCCCC;bottom:0;left:0;position:absolute;top:0;z-index:-1;width:146px;}
.menushadow{background-image:url("images/menu-shadow.png");background-position:right top;background-repeat:repeat-y;bottom:0;position:absolute;right:0;top:0;width:6px;z-index:20;}
.menuwrap{width:145px;float:left;position:relative;border-right:1px solid #CCCCCC;position:relative;}
.menu li a.menu-head{color:#21759B;border-bottom:1px solid #DFDFDF;border-top:1px solid #F9F9F9;background-color:#ECECEC;padding:0 4px 0 10px;display:block;font-size:13px;font-weight:bold;height:30px;line-height:30px;}
.menu li a.menu-head:hover{background-color:#E4E4E4;color:#D54E21;}
.menu li.sel a.menu-head{color:#FFFFFF;background-color:#777777;background:linear-gradient(to top,#6D6D6D,#808080) repeat scroll 0 0#777777;border:0 none;}
.submenu{background-color:#FFFFFF;padding:4px 0;display:none;}
.menu li.sel .submenu{display:block;}
.menu .submenu a{font-size:12px;line-height:18px;height:18px;color:#21759B;background:none;display:block;padding:2px 5px 2px 12px;}
.menu .submenu li.sel a{color:#333333;font-weight:bold;}
.menu .submenu a:hover{background-color:#EAF2FA;color:#333333;}
#collapse-menu{cursor:pointer;color:#AAAAAA;font-size:12px;line-height:34px;height:34px;border-top-color:#F9F9F9;background-color:#ECECEC;}
#collapse-menu:hover{color:#999999;}
#collapse-button{background:linear-gradient(to top,#DFDFDF,#FFFFFF) repeat scroll 0 0#F4F4F4;border-color:#CCCCCC;border-radius:10px 10px 10px 10px;border-style:solid;border-width:1px;float:left;margin:8px 6px;height:15px;width:15px;}
#collapse-button div{background:url("images/arrows.png") no-repeat scroll 0 -72px transparent;height:15px;width:15px;}
.folded .menuback{width:32px;}
.folded .menuwrap{width:31px;}
.folded .menu li{display:none;}
.folded .menu li#collapse-menu{display:list-item;}
.folded .menu li#collapse-menu span{display:none;}
.folded #collapse-button div{background-position:0 -108px;}
.folded .ffcontent{margin-left:52px;}
.sub-title{color:#464646;font-size:23px;line-height:34px;height:34px;text-shadow:0 1px 0 #FFFFFF;font-weight:normal;margin-top:11px;}
.sub-title .sub-link{background-color:#F1F1F1;font-family:sans-serif;font-size:12px;margin-left:4px;padding:3px 8px;vertical-align:top;}
.subsubsub{margin:8px 0 5px;white-space:nowrap;}
.subsubsub li{display:inline;}
.subsubsub li.sel a{font-weight:bold;color:#000000;}
#ffhelp-content,#ffsetting-content{margin-right:16px;padding:8px 20px 12px;border:1px solid #CCCCCC;background-color:#F1F1F1;}
.ffhelp-link-wrap,.ffsetting-link-wrap{background-color:#F1F1F1;background:linear-gradient(to top, #DFDFDF, #F1F1F1) repeat scroll 0 0 #E3E3E3;float:right;margin-right:16px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border:1px solid #CCCCCC;border-top:0 none;height:23px;width:48px;}
.ffhelp-link,.ffsetting-link{display:block;padding:1px 16px 0 6px;height:22px;line-height:22px;background:url("images/arrows.png") no-repeat scroll right 4px transparent;color:#777777;text-shadow:0 1px 0 rgba(255, 255, 255, 0.7);}
.ffhelp-link.active,.ffsetting-link.active{background-position:right -31px;}
.ffcontent{margin-left:165px;}
.ffbody{}
.ffbody-content{float:left;width:100%;padding-bottom:65px;}
.fffooter{bottom:0;left:0;margin:0 20px 0 165px;padding:10px 0;position:absolute;right:0;}
.col-1{margin:4px 15px 0 0;}
.col-2-1{margin:6px 0 0 0;}
.col-2-1 .col-left{width:49.5%;float:left;}
.col-2-1 .col-right{width:50.5%;float:right;}
.col-2-1 .col-content{margin-right:16px;}
.col-2-2{margin:4px 15px 0 0;}
.col-2-2-body{margin-right:300px;}
.col-2-2-body-content{float:left;width:100%;}
.col-2-2-body-sidebar{float:right;width:280px;}
.col-2-3 .col-right{clear:right;float:right;overflow:hidden;width:59%;margin-right:1%;}
.col-2-3 .col-left{overflow:hidden;width:38%;}
.titlediv{margin-bottom:10px;position:relative;}
.titlediv .title-prompt-text{color:#BBBBBB;font-size:19px;padding:4px 10px;position:absolute;cursor:text;}
input.bigtxt{font-size:1.7em;line-height:100%;outline:0 none;padding:3px 1%;width:98%;border-radius:3px 3px 3px 3px;}
.text-short{width:80px;}
.kindeditor,.lazy-kindeditor{width:99%;height:400px;}

.form-field{padding:8px;}
.form-field label.title{color:#222222;text-shadow:0 1px 0 #FFFFFF;padding:0 6px 6px 6px;display:block;font-weight:bold;}
.form-field p.description{color:#999999;padding:5px;}
.pager{text-align:right;clear:both;padding:10px 20px 5px 0;}
.pager ul li{display:inline;}
.pager ul li a.start,.pager ul li a.end{display:none;}
.pager ul li a.prev{border-bottom-left-radius:4px;border-left-width:1px;border-top-left-radius:4px;}
.pager ul li a.action{color:#999999;background-color:#F5F5F5;cursor:default;}
.pager ul li a.disabled{color:#999999;background-color:#F5F5F5;cursor:default;}
.pager ul li.summary{color:#777777;font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;font-style:italic;margin-right:10px;}
.pager ul li a{padding:4px 8px;color:#0088CC;border-width:1px 1px 1px 0;border-color:#DDDDDD;border-style:solid;background-color:#FFFFFF;font-size:12px;}
.common-dialog{overflow:auto;}
.common-dialog-content{padding:30px;}
.common-dialog-content h4{border-bottom:1px solid #DFDFDF;color:#464646;font-size:21px;margin:-5px -8px 11px -6px;text-shadow:0 1px 0 #FFFFFF;font-weight:normal;}
.common-dialog-form-table{width:100%;}
.common-dialog-form-table tr td,.common-dialog-form-table tr th{padding:10px;vertical-align:top}
.common-dialog-form-table tr td{text-align:left;}
.common-dialog-form-table tr th{text-align:right;}

.detail-panel .order-dashboard{background-color:#F0F0EE;}
.detail-panel .bd{padding:20px 30px;background-color:#F0F0EE;margin-bottom:20px;}
.detail-panel .contact-info h4{font-size:16px;}
.detail-panel .contact-info table{width:95%;}
.detail-panel .contact-info table th{font-weight:bold;text-align:left;padding:5px 20px;}
.detail-panel .trade-option{margin-top:13px;}

.inbox-table{width:100%;border-spacing:0;border-color:#F0F0EE;border-style:solid;border-width:1px 1px 0 0;}
.inbox-table td,.inbox-table th{padding:8px;border-color:#F0F0EE;border-style:solid;border-width:0 0 1px 1px;}
.inbox-table th{text-align:left;}

.border{border:1px solid #DFDFDF}
.tabs .tab-nav{padding-left:20px;height:25px;}
.tabs .tab-nav li{float:left;}
.tabs .tab-nav a{border-style:solid;border-color:#DFDFDF;border-top-left-radius:3px;border-top-right-radius:3px;border-width:1px 1px 0;background-color:#FBFBFB;color:#AAAAAA;font-size:12px;line-height:24px;height:24px;margin-right:6px;text-decoration:none;text-shadow:0 1px 0 #FFFFFF;display:block;padding:0 14px;float:left;}
.tabs .tab-nav a.sel{background-color:#FFFFFF;border-bottom:1px solid #FFFFFF;margin-bottom:-1px;color:#000000;}
.tabs .tab-content{border:1px solid #DFDFDF;border-radius:3px 3px 3px 3px;padding:5px;}

.label{width:120px;display:block;float:left}

.widgets .widget-item{float:left;margin:0 10px 10px 0;overflow:hidden;padding:5px 5px 20px 5px;vertical-align:top;width:300px;border:1px solid #DDDDDD;height:338px;}
.widgets .widget-screenshot{background-color:#F1F1F1;border:1px solid #DDDDDD;display:block;height:225px;margin-bottom:10px;overflow:hidden;width:300px;}
.widgets .widget-screenshot img{width:300px;}
.widgets .widget-actions{float:right;padding-right:10px;}
.widgets .widget-item h3, .widgets .widget-author{padding-left:10px;}
.widgets .widget-description{padding:10px;color:grey;text-indent:2em;}

.dragsort-list{padding:10px 0;}
.dragsort-list .dragsort-item{position:relative;margin-bottom:10px;padding:10px 10px 10px 0;background-color:#F0F0EE;}
.dragsort-list .dragsort-item.holder{background-image:none;}
.dragsort-list .dragsort-item .dragsort-item-selector{width:30px;height:30px;float:left;display:block;text-align:center;line-height:30px;background:url("images/move.png") no-repeat scroll 7px center transparent;}
.dragsort-list .dragsort-item-container{margin-left:31px;}
.dragsort-list .dragsort-item .dragsort-rm{background:url("images/pic-close.png") no-repeat scroll 0 0 transparent;display:block;float:right;height:10px;text-indent:-9999em;width:10px;z-index:100;}

.file-list .file-thumb{float:left;overflow:hidden;text-align:center;width:65px;}
.file-list .file-thumb img{height:60px;}
.file-list .file-desc{width:95%;}
.file-list .file-desc-container{margin-left:80px;margin-right:16px;}

.online-admins li{padding:0 10px;margin-bottom:6px;}

.sku-label{display:block;}
.sku-box{margin-left:10px;}
.sku-list li, .goods-prop-list li{float:left;height:25px;overflow:hidden;vertical-align:middle;width:145px;}
.sku-edit-table{border-collapse:collapse;border-spacing:0;}
.sku-edit-table th{background-color:#EDEDED;border:1px solid #D7D7D7;font-weight:400;height:25px;text-align:center;vertical-align:middle;}
.sku-edit-table td{border:1px solid #D7D7D7;height:25px;min-width:60px;padding:3px 5px;text-align:center;vertical-align:middle;}
.prop-multi li{margin:0 20px 5px 0;float:left;}

.cat-list{margin-left:10px;}
.cat-list .cat-item{margin-left:10px;white-space:nowrap;background:url("images/tree/L4.gif") repeat-y scroll 0 0 transparent;}
.cat-list .cat-item.first{}
.cat-list .cat-item .options{padding-right:10px;margin-left:150px;}
.cat-item-title{padding:2px 0 2px 21px;cursor:pointer;}
.cat-item-title.parent{background:url("images/tree/M1.gif") no-repeat scroll 0 0 transparent;}
.cat-item-title.parent.close{background:url("images/tree/P1.gif") no-repeat scroll 0 0 transparent;}
.cat-item-title.terminal{background:url("images/tree/L12.gif") no-repeat scroll 0 0 transparent;}
.cat-item-container:hover{background-color:#F2F2F2;transition:all 0.2s linear 0s;}
.cat-item-container{height:28px;line-height:28px;}
.cat-item-container a{background:url("images/cut-off-line.png") no-repeat scroll right 2px transparent;padding:0 5px;}
.cat-item-container a:last-child{background:0 none;}
.cat-item-container a.hover-link{visibility:hidden;}
.cat-list-container .hover a.hover-link{visibility:visible;}

.progress-bar{height:5px;position:absolute;bottom:0;width:100%;left:0;}
.progress-bar-percent{background-color:#2187E7;height:2px;margin:2px 0;position:absolute;}

.drag_drop_area{border:4px dashed #DDDDDD;height:200px;text-align:center;}
.drag_drop_inside{margin-top:55px;}
.info_fieldset{width:480px;margin:0 auto;}

#visual-editor{width:99%;}

.tabbable .nav-tabs{zoom:1;clear:left;margin-left:5px;} 
.tabbable .nav-tabs:before, .tabbable .nav-tabs:after{content:"";display:table;}
.tabbable .nav-tabs:after{clear: both;}
.tabbable .nav-tabs li{display:block;float:left;margin-right:4px;margin-bottom:-1px;padding-top:1px;background-color:#FFFFFF;border:1px solid #DDDDDD;}
.tabbable .nav-tabs li a{display:block;padding:3px 18px;transition:none;color:#AAAAAA;}
.tabbable .nav-tabs li.active{font-weight:400;padding-top:0;border-bottom:0;border-top:0;}
.tabbable .nav-tabs li.active a{background-color:#FFFFFF;border-top:3px solid #D12610;color:#000000;}
.tabbable .tab-content{background-color:#FFFFFF;border:1px solid #DDDDDD;padding:10px;}
.tabbable .tab-pane{position:relative;}

.trace-table{width:100%;}
.trace-table th{text-align:left;padding:6px;}
.trace-table th, .trace-table td{padding-left:12px;}

.feeds li{background-color:#fafafa;margin-bottom:7px;line-height:28px;height:28px;}
.feeds li .date{margin-right:9px;color:#c1cbd0;}
.feeds li i{width:28px;}

/* tags输入框 */
.ftextext-container{display:inline-block;}
.ftextext-container input{outline:0;border:0 !important;background:transparent !important;box-shadow:none;}
.ftextext-container .ftextext-choices{border:1px solid #DFDFDF;padding:3px;cursor:text;background-color:#ffffff;}
.ftextext-active .ftextext-choices{border-color:#aaaaaa;box-shadow:1px 1px 2px rgba(0,0,0,0.1);}
.ftextext-drop{margin-top:4px;border:1px solid #aaaaaa;box-shadow:0 4px 5px rgba(0, 0, 0, 0.15);display:none;background-color:#ffffff;position:absolute;z-index:500;}
.ftextext-drop ul{margin:4px;}
.ftextext-drop li{padding:5px 6px;}
.ftextext-drop li .highlight{background-color:yellow;}
.ftextext-drop li.disabled{display:none;}
.ftextext-drop li.active{background-color:#eeeeee;cursor:pointer;}
.ftextext-choices li{padding:3px 20px 3px 5px;display:block;margin:2px 0;float:left;position:relative;}
.ftextext-choices li.ftextext-choice{cursor:default;margin-left:5px;background-color:#eeeeee;transition:all 0.2s linear 0s;}
.ftextext-choices li.ftextext-choice:hover{background-color:#E5E5E5;}
.ftextext-choices{zoom:1;clear:left;} 
.ftextext-choices:before, .clearfix:after{content:"";display:table;}
.ftextext-choices:after{clear: both;}
.ftextext-remove{background:url("images/pic-close.png") no-repeat scroll 0 0 transparent;position:absolute;right:2px;top:8px;color:#777777;margin-left:3px;height:10px;text-indent:-9999em;width:10px;}

.chats-list .chat-item{position:relative;padding:12px;margin-bottom:5px;vertical-align:top;background-color:#F0F0EE;box-shadow:0 1px 1px rgba(0, 0, 0, 0.04);}
.chats-list .ci-avatar{float:left;}
.chats-list .chat-body{padding-left:10px;margin:2px 0 0 40px;}
.chats-list .ci-user{color:#379BE9;}
.chats-list .ci-to{color:#379BE9;margin-left:3px;}
.chats-list .ci-time{color:#999;margin-left:7px;font-size:12px;}
.chats-list .ci-time{margin-left:7px;}
.chats-list .ci-content{margin-top:6px;}
.chats-list .ci-footer{margin-top:2px;}
.chats-list .ci-reply-link{color:#999;font-size:12px;}
.chats-list .ci-reply-link .icon-reply{margin-right:1px;}
.chats-list .ci-reply-link:hover{color:#379BE9;}
.chats-list .ci-reply-link em{font-style:normal;}
.chats-list .ci-footer a:hover span{text-decoration:underline;}
.chats-list .ci-footer .ci-options{visibility:hidden;}
.chats-list .chat-item:hover .ci-options{visibility:visible;}

#chat-dialog .cd-header{background-color:#379BE9;color:#fff;margin-right:6px;padding:15px 0 15px 35px;}
#chat-dialog .cd-avatar{width:80px;height:80px;float:left;margin-right:10px;}
#chat-dialog .reply-root{color:#fff;text-decoration:underline;margin-left:10px;}
#chat-dialog .icon-share{margin-right:0;}
#chat-dialog .cd-user,#chat-dialog .cd-to{font-size:16px;}
#chat-dialog .cd-reply-list{padding:0 20px 10px 20px;}
#chat-dialog .cd-item{position:relative;padding:9px 0 9px 92px;background:url(images/timeline.png) -113px 0 repeat-y;}
#chat-dialog .cdi-user{line-height:20px;color:#379BE9;}
#chat-dialog .cdi-time{position:absolute;left:0;top:9px;margin-left:12px;width:72px;background:url(images/timeline.png) 55px 6px no-repeat;}
#chat-dialog .cdi-status{margin-left:3px;}
#chat-dialog .reply-container{padding:8px 20px;border-top:1px solid #ddd;margin-right:6px;}
#chat-dialog .reply-container textarea{width:95%;margin:0 auto;display:block;height:80px;}
#chat-dialog .cdi-options{visibility:hidden;}
#chat-dialog .cd-item:hover .cdi-options{visibility:visible;}
#chat-dialog .cdi-options a{background:url("images/cut-off-line.png") no-repeat scroll right 2px transparent;padding:0 9px 0 5px;}
#chat-dialog .cdi-options a:last-child{background:0 none;}
#chat-dialog .cdi-line{position:absolute;background:#379BE9;width:2px;height:100%;left:70px;top:0;visibility:hidden;}
#chat-dialog .cd-item:hover .cdi-line{visibility:visible;}
#chat-dialog .cdi-options i{margin-right:1px;}

/* 阅卷 */
.exam-question-list .exam-question-item{font-weight:bold;margin-bottom:8px;}
.exam-question-list .exam-question-answers{padding-left:10px;}
.exam-question-list .exam-question-answers li{padding:5px 6px;}
.exam-question-list .exam-question-answers li:hover{background-color:#EAEAEA;}

/* autocomplete输入框 */
.fac-container{border:1px solid #aaaaaa;box-shadow:0 4px 5px rgba(0, 0, 0, 0.15);display:none;background-color:#ffffff;position:absolute;z-index:500;}
.fac-container ul{margin:4px;}
.fac-container li{padding:5px 6px;}
.fac-container li .highlight{background-color:yellow;}
.fac-container li.active{background-color:#eeeeee;cursor:pointer;}

/* prettify */
pre code{border:0 none;background:none;}
pre .str,code .str{color:#65b042}
pre .kwd,code .kwd{color:#e28964}
pre .com,code .com{color:#aeaeae;font-style:italic}
pre .typ,code .typ{color:#89bdff}
pre .lit,code .lit{color:#3387cc}
pre .pun,code .pun{color:#fff}
pre .pln,code .pln{color:#fff}
pre .tag,code .tag{color:#89bdff}
pre .atn,code .atn{color:#bdb76b}
pre .atv,code .atv{color:#65b042}
pre .dec,code .dec{color:#3387cc}
pre.prettyprint,code.prettyprint{background-color:#333;font-family:'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;}
pre.prettyprint{margin:0 auto;padding:1em 0 1em 1em;white-space:pre-wrap}
ol.linenums{margin-top:0;margin-bottom:0;color:#aeaeae}
@media print{
pre .str,code .str{color:#060}
pre .kwd,code .kwd{color:#006;font-weight:bold}
pre .com,code .com{color:#600;font-style:italic}
pre .typ,code .typ{color:#404;font-weight:bold}
pre .lit,code .lit{color:#044}
pre .pun,code .pun{color:#440}
pre .pln,code .pln{color:#333}
pre .tag,code .tag{color:#006;font-weight:bold}
pre .atn,code .atn{color:#404}
pre .atv,code .atv{color:#060}
}
pre li.crt{background-color:#553B3B;}
pre li:hover{background-color:#575757;}